<a href="https://colab.research.google.com/github/1822lokesh/Python-Learning/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists are one of Python's built-in data structures, used to store ordered collections of items. They are mutable (can be changed after creation), allow duplicates, and can hold elements of different data types (e.g., integers, strings, or even other lists). Lists are defined using square brackets [] and elements are separated by commas.

***Key Characteristics***
* **Mutable:** items can be modified, replaced, or removed
*   **Ordered:** maintains the order in which items are added
*   **Index-based:** items are accessed using their position (starting from 0)
*   **Dynamic:** Size can change as you add or remove items.

Creating Lists:

In [ ]:
# Empty list
empty_list = []
empty_list = list()

# List with elements
numbers = [1, 2, 3, 4, 5]
fruits = ['apple', 'banana', 'cherry']
mixed = [1, 'hello', 3.14, True]
nested = [[1, 2], [3, 4], [5, 6]]

In [ ]:
list1 = list((2,3,4))
print(list1)

[2, 3, 4]

***List Operation***

**Indexing:**
Lists are "zero-indexed," meaning the first item is at index 0. Python also supports negative indexing, where -1 refers to the last item.

**Positive Indexing (Forward Indexing)**

Python lists use zero-based indexing, meaning the first element is at index 0.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Positive indexing
print(fruits[0])   # 'apple'    (1st element)
print(fruits[1])   # 'banana'   (2nd element)
print(fruits[2])   # 'cherry'   (3rd element)
print(fruits[3])   # 'date'     (4th element)
print(fruits[4])   # 'elderberry' (5th element)

# Index visualization:
# Index:   0        1        2        3        4
# Value: 'apple' 'banana' 'cherry' 'date' 'elderberry'

apple
banana
cherry
date
elderberry

**Negative Indexing (Backward Indexing)**

Python also supports negative indexing, where -1 refers to the last element, -2 to the second last, and so on.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Negative indexing
print(fruits[-1])  # 'elderberry'  (last element)
print(fruits[-2])  # 'date'        (2nd last element)
print(fruits[-3])  # 'cherry'      (3rd last element)
print(fruits[-4])  # 'banana'      (4th last element)
print(fruits[-5])  # 'apple'       (1st element)

# Negative index visualization:
# Index:   -5       -4       -3       -2       -1
# Value: 'apple' 'banana' 'cherry' 'date' 'elderberry'

elderberry
date
cherry
banana
apple

**Accessing Elements**

In [ ]:
numbers = [10, 20, 30, 40, 50]

# Positive indexing
print(numbers[0])    # 10 (first)
print(numbers[2])    # 30 (third)
print(numbers[4])    # 50 (last)

# Negative indexing
print(numbers[-1])   # 50 (last)
print(numbers[-3])   # 30 (third from end)
print(numbers[-5])   # 10 (first)

10
30
50
50
30
10

**Index Error Handling**

In [ ]:
fruits = ['apple', 'banana', 'cherry']

# Valid indices
print(fruits[0])     # 'apple'
print(fruits[-1])    # 'cherry'

# Invalid indices (will raise IndexError)
try:
    print(fruits[5])     # IndexError: list index out of range
except IndexError as e:
    print(f"Error: {e}")

try:
    print(fruits[-4])    # IndexError: list index out of range
except IndexError as e:
    print(f"Error: {e}")

apple
cherry
Error: list index out of range
Error: list index out of range

**Real-World Usage**

In [ ]:
# Getting last element without knowing list length
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
last_element = data[-1]
print(f"Last element: {last_element}")  # Last element: 10

# Getting second last element
second_last = data[-2]
print(f"Second last: {second_last}")    # Second last: 9

# Accessing from end when list length is dynamic
def get_last_three(items):
    return items[-3], items[-2], items[-1]

numbers = [1, 2, 3, 4, 5]
print(get_last_three(numbers))  # (3, 4, 5)

more_numbers = [10, 20, 30, 40, 50, 60, 70]
print(get_last_three(more_numbers))  # (50, 60, 70)

Last element: 10
Second last: 9
(3, 4, 5)
(50, 60, 70)

**Modifying Elements with Negative Indexing**

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']

# Modify using positive index
fruits[1] = 'blueberry'
print(fruits)  # ['apple', 'blueberry', 'cherry', 'date']

# Modify using negative index
fruits[-1] = 'dragonfruit'
print(fruits)  # ['apple', 'blueberry', 'cherry', 'dragonfruit']

fruits[-2] = 'cantaloupe'
print(fruits)  # ['apple', 'blueberry', 'cantaloupe', 'dragonfruit']

['apple', 'blueberry', 'cherry', 'date']
['apple', 'blueberry', 'cherry', 'dragonfruit']
['apple', 'blueberry', 'cantaloupe', 'dragonfruit']

**Circular Access**

In [ ]:
def get_circular_element(lst, index):
    """Get element with circular indexing (wraps around)"""
    return lst[index % len(lst)]

numbers = [1, 2, 3, 4, 5]
print(get_circular_element(numbers, 7))   # 3 (7 % 5 = 2)
print(get_circular_element(numbers, -1))  # 5 (-1 % 5 = 4)
print(get_circular_element(numbers, -6))  # 5 (-6 % 5 = 4)

3
5
5

**Safe Access Function**

In [ ]:
def safe_get(lst, index, default=None):
    """Safely get element by index with default value"""
    try:
        return lst[index]
    except IndexError:
        return default

fruits = ['apple', 'banana', 'cherry']

print(safe_get(fruits, 1))      # 'banana'
print(safe_get(fruits, 5))      # None
print(safe_get(fruits, -1))     # 'cherry'
print(safe_get(fruits, -5))     # None
print(safe_get(fruits, -5, "Not found"))  # "Not found"

banana
None
cherry
None
Not found

**Getting Last N Elements**

In [ ]:
def get_last_n(lst, n):
    """Get last n elements from list"""
    return lst[-n:]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(get_last_n(numbers, 3))   # [8, 9, 10]
print(get_last_n(numbers, 5))   # [6, 7, 8, 9, 10]

[8, 9, 10]
[6, 7, 8, 9, 10]

**Removing Last Element**

In [ ]:
def remove_last(lst):
    """Remove and return last element"""
    return lst.pop(-1)  # Same as lst.pop()

fruits = ['apple', 'banana', 'cherry']
last = remove_last(fruits)
print(f"Removed: {last}")      # Removed: cherry
print(f"Remaining: {fruits}")  # Remaining: ['apple', 'banana']

Removed: cherry
Remaining: ['apple', 'banana']

**Reverse Iteration**

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']

# Iterate from end to beginning
for i in range(-1, -len(fruits)-1, -1):
    print(f"Index {i}: {fruits[i]}")

# Output:
# Index -1: date
# Index -2: cherry
# Index -3: banana
# Index -4: apple

Index -1: date
Index -2: cherry
Index -3: banana
Index -4: apple



---

# **# Slicing**

Slicing is one of the most powerful features in Python. It allows you to access a specific range of elements within a list.

**Syntax: list[start : stop : step]**

Start: Index to begin (inclusive).

Stop: Index to end (exclusive - the item at this index is not included).

Step: (Optional) How many items to skip

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Get items from index 2 to 5 (5 is excluded)
print(numbers[2:5])
# Output: [2, 3, 4]

# Get items from the beginning to index 3
print(numbers[:3])
# Output: [0, 1, 2]

# Get every second item (Step of 2)
print(numbers[::2])
# Output: [0, 2, 4, 6, 8]

# Reverse a list using a negative step
print(numbers[::-1])
# Output: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

[2, 3, 4]
[0, 1, 2]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Basic slices
print(numbers[2:5])    # [2, 3, 4]       (indices 2,3,4)
print(numbers[:4])     # [0, 1, 2, 3]    (start to index 3)
print(numbers[5:])     # [5, 6, 7, 8, 9] (index 5 to end)
print(numbers[:])      # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] (full copy)

# With negative indices
print(numbers[-4:-1])  # [6, 7, 8]       (4th last to 2nd last)
print(numbers[-3:])    # [7, 8, 9]       (last 3 elements)
print(numbers[:-2])    # [0, 1, 2, 3, 4, 5, 6, 7] (all except last 2)

[2, 3, 4]
[0, 1, 2, 3]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 7, 8]
[7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]

**Using Step for Skipping Elements**

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Step by 2 (every second element)
print(numbers[::2])     # [0, 2, 4, 6, 8]
print(numbers[1::2])    # [1, 3, 5, 7, 9]

# Step by 3
print(numbers[::3])     # [0, 3, 6, 9]
print(numbers[1::3])    # [1, 4, 7]
print(numbers[2::3])    # [2, 5, 8]

# Negative step (reverse order)
print(numbers[::-1])    # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0] (reverse)
print(numbers[::-2])    # [9, 7, 5, 3, 1] (reverse every 2nd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 3, 6, 9]
[1, 4, 7]
[2, 5, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 7, 5, 3, 1]

**Reverse Slicing**

In [ ]:
text = ['p', 'y', 't', 'h', 'o', 'n']

# Reverse the list
print(text[::-1])       # ['n', 'o', 'h', 't', 'y', 'p']

# Reverse part of the list
print(text[1:4][::-1])  # ['h', 't', 'y'] (reverse slice 1:4)

# Get last 3 elements in reverse
print(text[-1:-4:-1])   # ['n', 'o', 'h']

['n', 'o', 'h', 't', 'y', 'p']
['h', 't', 'y']
['n', 'o', 'h']

**Complex Step Patterns**

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Every 3rd element starting from index 1
print(numbers[1::3])    # [1, 4, 7, 10]

# Every 2nd element between indices 2 and 8
print(numbers[2:8:2])   # [2, 4, 6]

# Reverse with step
print(numbers[8:2:-1])  # [8, 7, 6, 5, 4, 3]
print(numbers[8:2:-2])  # [8, 6, 4]

[1, 4, 7, 10]
[2, 4, 6]
[8, 7, 6, 5, 4, 3]
[8, 6, 4]

**String Slicing**

In [ ]:
text = "Hello, World!"

print(text[0:5])        # "Hello"
print(text[7:12])       # "World"
print(text[::2])        # "Hlo ol!"
print(text[::-1])       # "!dlroW ,olleH"
print(text[-6:-1])      # "World"

Hello
World
Hlo ol!
!dlroW ,olleH
World

**Tuple Slicing**

In [ ]:
coordinates = (10, 20, 30, 40, 50, 60)

print(coordinates[1:4])     # (20, 30, 40)
print(coordinates[::2])     # (10, 30, 50)
print(coordinates[::-1])    # (60, 50, 40, 30, 20, 10)

(20, 30, 40)
(10, 30, 50)
(60, 50, 40, 30, 20, 10)

**Data Processing**

In [ ]:
# Get first and last elements
def get_ends(lst):
    return lst[0], lst[-1]

numbers = [10, 20, 30, 40, 50]
print(get_ends(numbers))  # (10, 50)

# Get middle elements (excluding first and last)
def get_middle(lst):
    return lst[1:-1]

print(get_middle(numbers))  # [20, 30, 40]

(10, 50)
[20, 30, 40]

**List Manipulation**

In [ ]:
# Remove every second element
def remove_every_second(lst):
    return lst[::2]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(remove_every_second(numbers))  # [1, 3, 5, 7, 9]

# Get elements in chunks
def get_chunks(lst, chunk_size):
    return [lst[i:i + chunk_size] for i in range(0, len(lst), chunk_size)]

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(get_chunks(data, 3))
# [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

[1, 3, 5, 7, 9]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

**Slice Assignment**

In [ ]:
# Replace elements using slicing
numbers = [0, 1, 2, 3, 4, 5]
numbers[1:4] = [10, 20, 30]
print(numbers)  # [0, 10, 20, 30, 4, 5]

# Insert elements (replace empty slice)
numbers = [1, 2, 3]
numbers[1:1] = [99, 88]  # Insert at index 1
print(numbers)  # [1, 99, 88, 2, 3]

# Delete elements using empty assignment
numbers[2:4] = []
print(numbers)  # [1, 99, 3]

# Replace with different number of elements
fruits = ['apple', 'banana', 'cherry']
fruits[0:2] = ['apricot']  # Replace 2 elements with 1
print(fruits)  # ['apricot', 'cherry']

[0, 10, 20, 30, 4, 5]
[1, 99, 88, 2, 3]
[1, 99, 3]
['apricot', 'cherry']

**Multi-dimensional Slicing**

In [ ]:
# 2D list (matrix) slicing
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# Get first two rows
print(matrix[:2])
# [[1, 2, 3, 4], [5, 6, 7, 8]]

# Get first two columns from all rows
print([row[:2] for row in matrix])
# [[1, 2], [5, 6], [9, 10], [13, 14]]

# Get sub-matrix (rows 1-2, columns 1-2)
print([row[1:3] for row in matrix[1:3]])
# [[6, 7], [10, 11]]

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]
[[6, 7], [10, 11]]

**Palindrome Checking**

In [ ]:
def is_palindrome(lst):
    return lst == lst[::-1]

print(is_palindrome([1, 2, 3, 2, 1]))    # True
print(is_palindrome(['a', 'b', 'a']))     # True
print(is_palindrome([1, 2, 3]))          # False

True
True
False

**Rotating Lists**

In [ ]:
def rotate_left(lst, k):
    """Rotate list left by k positions"""
    k = k % len(lst)
    return lst[k:] + lst[:k]

def rotate_right(lst, k):
    """Rotate list right by k positions"""
    k = k % len(lst)
    return lst[-k:] + lst[:-k]

numbers = [1, 2, 3, 4, 5]
print(rotate_left(numbers, 2))   # [3, 4, 5, 1, 2]
print(rotate_right(numbers, 2))  # [4, 5, 1, 2, 3]

[3, 4, 5, 1, 2]
[4, 5, 1, 2, 3]

**Interleaving Lists**

In [ ]:
def interleave_lists(list1, list2):
    """Interleave elements from two lists"""
    result = []
    min_len = min(len(list1), len(list2))

    # Interleave common part
    for i in range(min_len):
        result.append(list1[i])
        result.append(list2[i])

    # Add remaining elements
    result.extend(list1[min_len:])
    result.extend(list2[min_len:])

    return result

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c', 'd', 'e']
print(interleave_lists(list1, list2))
# [1, 'a', 2, 'b', 3, 'c', 'd', 'e']

[1, 'a', 2, 'b', 3, 'c', 'd', 'e']

**Using slice() Function**

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Create slice objects
first_half = slice(0, 5)
second_half = slice(5, None)
every_second = slice(None, None, 2)
reverse_slice = slice(None, None, -1)

print(numbers[first_half])     # [0, 1, 2, 3, 4]
print(numbers[second_half])    # [5, 6, 7, 8, 9]
print(numbers[every_second])   # [0, 2, 4, 6, 8]
print(numbers[reverse_slice])  # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Reusable slice objects
def get_slice_indices(slice_obj, sequence_length):
    """Get actual start, stop, step from slice object"""
    start, stop, step = slice_obj.indices(sequence_length)
    return start, stop, step

s = slice(1, 8, 2)
print(get_slice_indices(s, 10))  # (1, 8, 2)

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
(1, 8, 2)

**Safe Slicing (No Index Errors)**

In [ ]:
# Slicing never raises IndexError!
numbers = [1, 2, 3]

# These all work without errors
print(numbers[0:10])     # [1, 2, 3] (stop beyond length)
print(numbers[-10:5])    # [1, 2, 3] (start before beginning)
print(numbers[5:10])     # [] (start beyond length)
print(numbers[10:15])    # [] (both beyond length)

# Useful for safe data extraction
def safe_slice(lst, start, stop):
    """Safely extract slice, handles out-of-bounds gracefully"""
    return lst[max(0, start):min(len(lst), stop)]

data = [10, 20, 30, 40, 50]
print(safe_slice(data, 1, 3))   # [20, 30]
print(safe_slice(data, -2, 10)) # [10, 20, 30, 40, 50]
print(safe_slice(data, 3, 100)) # [40, 50]

[1, 2, 3]
[1, 2, 3]
[]
[]
[20, 30]
[10, 20, 30, 40, 50]
[40, 50]

**Slicing vs Copying**

In [ ]:
import time

large_list = list(range(1000000))

# Slicing creates a new list (shallow copy)
start_time = time.time()
slice_copy = large_list[:]
slice_time = time.time() - start_time

# Using list() constructor
start_time = time.time()
constructor_copy = list(large_list)
constructor_time = time.time() - start_time

# Using copy method
start_time = time.time()
method_copy = large_list.copy()
method_time = time.time() - start_time

print(f"Slicing: {slice_time:.6f}s")
print(f"Constructor: {constructor_time:.6f}s")
print(f"Copy method: {method_time:.6f}s")

Slicing: 0.008017s
Constructor: 0.008044s
Copy method: 0.008327s

**Text Processing**

In [ ]:
def extract_domain(email):
    """Extract domain from email address"""
    return email.split('@')[1] if '@' in email else None

def extract_username(email):
    """Extract username from email address"""
    return email.split('@')[0] if '@' in email else None

emails = [
    "user@example.com",
    "john.doe@gmail.com",
    "admin@company.org"
]

for email in emails:
    username = extract_username(email)
    domain = extract_domain(email)
    print(f"Email: {email} -> Username: '{username}', Domain: '{domain}'")

Email: user@example.com -> Username: 'user', Domain: 'example.com'
Email: john.doe@gmail.com -> Username: 'john.doe', Domain: 'gmail.com'
Email: admin@company.org -> Username: 'admin', Domain: 'company.org'

**Data Analysis Patterns**

In [ ]:
def moving_average(data, window_size):
    """Calculate moving average using slicing"""
    return [sum(data[i:i+window_size]) / window_size
            for i in range(len(data) - window_size + 1)]

stock_prices = [100, 102, 101, 105, 107, 106, 110, 108, 109, 111]
ma_3 = moving_average(stock_prices, 3)
print(f"Prices: {stock_prices}")
print(f"3-day MA: {[round(avg, 2) for avg in ma_3]}")
# 3-day MA: [101.0, 102.67, 104.33, 106.0, 107.67, 108.0, 109.0, 109.33]

Prices: [100, 102, 101, 105, 107, 106, 110, 108, 109, 111]
3-day MA: [101.0, 102.67, 104.33, 106.0, 107.67, 108.0, 109.0, 109.33]

**File Processing**

In [ ]:
def process_log_lines(log_lines, skip_header=True, take_every=1):
    """Process log files with various slicing options"""
    start_idx = 1 if skip_header else 0
    processed = log_lines[start_idx::take_every]
    return processed

# Simulated log file
log_data = [
    "HEADER: Application Log",
    "INFO: User login successful",
    "WARNING: High memory usage",
    "ERROR: Database connection failed",
    "INFO: Backup started",
    "INFO: Backup completed",
    "ERROR: File not found"
]

print("All logs:", process_log_lines(log_data, skip_header=False))
print("Error logs only:", [line for line in log_data if 'ERROR' in line])
print("Every 2nd log:", process_log_lines(log_data, take_every=2))

All logs: ['HEADER: Application Log', 'INFO: User login successful', 'WARNING: High memory usage', 'ERROR: Database connection failed', 'INFO: Backup started', 'INFO: Backup completed', 'ERROR: File not found']
Error logs only: ['ERROR: Database connection failed', 'ERROR: File not found']
Every 2nd log: ['INFO: User login successful', 'ERROR: Database connection failed', 'INFO: Backup completed']



---

**copy() vs Assignment**

In [ ]:
# Shallow copy
original = [1, 2, 3]
copy1 = original.copy()
copy2 = original[:]  # slicing also creates copy
copy3 = list(original)  # list constructor

original.append(4)
print(original)  # [1, 2, 3, 4]
print(copy1)     # [1, 2, 3]
print(copy2)     # [1, 2, 3]
print(copy3)     # [1, 2, 3]

# Assignment (creates reference)
reference = original
original.append(5)
print(reference)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5]

**Nested List Operations**

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Access nested elements
print(matrix[0][1])    # 2
print(matrix[1][2])    # 6

# Modify nested elements
matrix[0][0] = 99
print(matrix)  # [[99, 2, 3], [4, 5, 6], [7, 8, 9]]

2
6
[[99, 2, 3], [4, 5, 6], [7, 8, 9]]

**List Unpacking**

In [ ]:
# Basic unpacking
first, second, third = [1, 2, 3]
print(first, second, third)  # 1 2 3

# Extended unpacking
first, *middle, last = [1, 2, 3, 4, 5, 6]
print(first)   # 1
print(middle)  # [2, 3, 4, 5]
print(last)    # 6

# Swapping variables
a, b = 10, 20
a, b = b, a
print(a, b)  # 20 10

1 2 3
1
[2, 3, 4, 5]
6
20 10

**List Comprehensions (Advanced)**

List comprehension is a shorthand syntax for creating a new list based on an existing list. It is often preferred over for loops for being more concise and readable.

**Syntax:** [expression for item in iterable if condition]

Example: Create a list of squares

Without comprehension:

In [ ]:
nums = [1, 2, 3, 4]
squares = []
for n in nums:
    squares.append(n**2)
print(squares) # [1, 4, 9, 16]

[1, 4, 9, 16]

With comprehension:

In [ ]:
nums = [1, 2, 3, 4]
squares = [n**2 for n in nums]
print(squares) # [1, 4, 9, 16]

[1, 4, 9, 16]

In [ ]:
# Nested list comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row]
print(flattened)  # [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Conditional logic
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = ['even' if x % 2 == 0 else 'odd' for x in numbers]
print(result)  # ['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

# Multiple conditions
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered = [x for x in numbers if x % 2 == 0 if x > 5]
print(filtered)  # [6, 8, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']
[6, 8, 10]

**List Filtering with filter()**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using filter with lambda
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # [2, 4, 6, 8, 10]

# Using filter with defined function
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = list(filter(is_prime, numbers))
print(primes)  # [2, 3, 5, 7]

[2, 4, 6, 8, 10]
[2, 3, 5, 7]

**List Mapping with map()**

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Using map with lambda
squared = list(map(lambda x: x**2, numbers))
print(squared)  # [1, 4, 9, 16, 25]

# Using map with defined function
def double(x):
    return x * 2

doubled = list(map(double, numbers))
print(doubled)  # [2, 4, 6, 8, 10]

# Multiple iterables
list1 = [1, 2, 3]
list2 = [10, 20, 30]
result = list(map(lambda x, y: x + y, list1, list2))
print(result)  # [11, 22, 33]

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]
[11, 22, 33]

**Custom Sorting with key parameter**

In [ ]:
# Sort by string length
fruits = ['apple', 'kiwi', 'banana', 'pear', 'grape']
fruits.sort(key=len)
print(fruits)  # ['kiwi', 'pear', 'apple', 'grape', 'banana']

# Sort by second character
fruits.sort(key=lambda x: x[1])
print(fruits)  # ['banana', 'apple', 'grape', 'pear', 'kiwi']

# Complex objects
students = [
    {'name': 'Alice', 'grade': 85},
    {'name': 'Bob', 'grade': 92},
    {'name': 'Charlie', 'grade': 78}
]

students.sort(key=lambda x: x['grade'], reverse=True)
print(students)
# [{'name': 'Bob', 'grade': 92}, {'name': 'Alice', 'grade': 85}, {'name': 'Charlie', 'grade': 78}]

['kiwi', 'pear', 'apple', 'grape', 'banana']
['banana', 'pear', 'kiwi', 'apple', 'grape']
[{'name': 'Bob', 'grade': 92}, {'name': 'Alice', 'grade': 85}, {'name': 'Charlie', 'grade': 78}]

**Using sum(), min(), max()**

In [ ]:
numbers = [1, 2, 3, 4, 5]

print(sum(numbers))    # 15
print(min(numbers))    # 1
print(max(numbers))    # 5
print(len(numbers))    # 5

# With custom objects
prices = [19.99, 29.99, 9.99, 49.99]
print(f"Total: ${sum(prices):.2f}")        # Total: $109.96
print(f"Cheapest: ${min(prices):.2f}")     # Cheapest: $9.99
print(f"Most expensive: ${max(prices):.2f}") # Most expensive: $49.99

15
1
5
5
Total: $109.96
Cheapest: $9.99
Most expensive: $49.99

**Using any() and all()**

In [ ]:
# any() returns True if any element is True
conditions = [False, False, True, False]
print(any(conditions))  # True

# all() returns True if all elements are True
conditions = [True, True, True, True]
print(all(conditions))  # True

# Practical examples
numbers = [2, 4, 6, 8, 10]
print(all(x % 2 == 0 for x in numbers))  # True (all even)

numbers = [1, 3, 5, 6, 7]
print(any(x % 2 == 0 for x in numbers))  # True (at least one even)

True
True
True
True

**zip() - Combine multiple lists**

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['NYC', 'London', 'Tokyo']

# Combine lists
combined = list(zip(names, ages, cities))
print(combined)
# [('Alice', 25, 'NYC'), ('Bob', 30, 'London'), ('Charlie', 35, 'Tokyo')]

# Unzipping
names_back, ages_back, cities_back = zip(*combined)
print(list(names_back))   # ['Alice', 'Bob', 'Charlie']
print(list(ages_back))    # [25, 30, 35]
print(list(cities_back))  # ['NYC', 'London', 'Tokyo']

# Dictionary creation
person_dict = dict(zip(names, ages))
print(person_dict)  # {'Alice': 25, 'Bob': 30, 'Charlie': 35}

[('Alice', 25, 'NYC'), ('Bob', 30, 'London'), ('Charlie', 35, 'Tokyo')]
['Alice', 'Bob', 'Charlie']
[25, 30, 35]
['NYC', 'London', 'Tokyo']
{'Alice': 25, 'Bob': 30, 'Charlie': 35}

**enumerate() - Get index and value**

In [ ]:
fruits = ['apple', 'banana', 'cherry']

# Basic enumeration
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")
# Output:
# 0: apple
# 1: banana
# 2: cherry

# With custom start index
for index, fruit in enumerate(fruits, start=1):
    print(f"{index}: {fruit}")
# Output:
# 1: apple
# 2: banana
# 3: cherry

0: apple
1: banana
2: cherry
1: apple
2: banana
3: cherry

**Removing Duplicates**

In [ ]:
# Method 1: Using set (loses order)
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(numbers))
print(unique)  # [1, 2, 3, 4, 5] (order may vary)

# Method 2: Preserving order
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = []
for num in numbers:
    if num not in unique:
        unique.append(num)
print(unique)  # [1, 2, 3, 4, 5] (order preserved)

# Method 3: Using dict (Python 3.7+ preserves order)
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = list(dict.fromkeys(numbers))
print(unique)  # [1, 2, 3, 4, 5] (order preserved)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

**List Chunking**

In [ ]:
def chunk_list(lst, chunk_size):
    return [lst[i:i + chunk_size] for i in range(0, len(lst), chunk_size)]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunks = chunk_list(numbers, 3)
print(chunks)  # [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

**Finding Common Elements**

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Common elements
common = list(set(list1) & set(list2))
print(common)  # [4, 5]

# All unique elements
all_unique = list(set(list1) | set(list2))
print(all_unique)  # [1, 2, 3, 4, 5, 6, 7, 8]

[4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

**Flattening Nested Lists**

In [ ]:
# Method 1: List comprehension
nested = [[1, 2], [3, 4], [5, 6]]
flattened = [item for sublist in nested for item in sublist]
print(flattened)  # [1, 2, 3, 4, 5, 6]

# Method 2: Using itertools
import itertools
nested = [[1, 2], [3, 4], [5, 6]]
flattened = list(itertools.chain.from_iterable(nested))
print(flattened)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

**Checking Memory with id()**

In [ ]:
list1 = [1, 2, 3]
list2 = list1
list3 = list1.copy()

print(id(list1))  # Memory address of list1
print(id(list2))  # Same as list1 (reference)
print(id(list3))  # Different from list1 (new object)

138574269234368
138574269234368
138574269233856

**Checking Identity and Equality**

In [ ]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1

print(list1 == list2)  # True (same content)
print(list1 is list2)  # False (different objects)
print(list1 is list3)  # True (same object)

True
False
True

**Python List Methods**

**1. Adding Elements**

**append(item)**

Adds a single item to the end of the list.

In [ ]:
fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)  # ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [ ]:
fruits.append([1, 2])  # appends the whole list as one element
print(fruits)          # ['apple', 'banana', 'orange', [1, 2]]

['apple', 'banana', 'cherry', [1, 2]]

**extend(iterable)**

Adds the elements of an iterable (like another list, tuple, or set) to the end of the current list.

In [ ]:
fruits = ['apple', 'banana']
more_fruits = ['cherry', 'date']
fruits.extend(more_fruits)
print(fruits)  # ['apple', 'banana', 'cherry', 'date']

# Also works with other iterables
fruits.extend(['elderberry', 'fig'])
print(fruits)  # ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

['apple', 'banana', 'cherry', 'date']
['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

**insert(index, item)**

Adds an element at a specified position.

In [ ]:
fruits = ['apple', 'cherry']
fruits.insert(1, 'banana')  # Insert at index 1
print(fruits)  # ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

**Advanced Addition Techniques**

Concatenation with + Operator

In [ ]:
# List concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print(combined)  # [1, 2, 3, 4, 5, 6]

# Multiple concatenations
result = [1] + [2] + [3, 4] + [5]
print(result)  # [1, 2, 3, 4, 5]

# With other iterables (requires conversion)
numbers = [1, 2, 3] + list((4, 5)) + list({6, 7})
print(numbers)  # [1, 2, 3, 4, 5, 6, 7]

# Important: Creates new list (doesn't modify original)
original = [1, 2, 3]
new_list = original + [4, 5]
print(original)  # [1, 2, 3] (unchanged)
print(new_list)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3, 4, 5]

**In-Place Concatenation with +=**

In [ ]:
# In-place concatenation
numbers = [1, 2, 3]
numbers += [4, 5]  # Similar to extend()
print(numbers)  # [1, 2, 3, 4, 5]

# With different iterables
fruits = ['apple']
fruits += ('banana', 'cherry')  # Works with tuples
print(fruits)  # ['apple', 'banana', 'cherry']

fruits += {'date', 'elderberry'}  # Works with sets
print(fruits)  # ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Difference from extend()
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)  # Modifies list1 in place
print(list1)  # [1, 2, 3, 4, 5, 6]

list1 = [1, 2, 3]
list1 += list2  # Also modifies in place
print(list1)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'elderberry', 'date']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

**Repetition with * Operator**

In [ ]:
# List repetition
numbers = [1, 2, 3] * 3
print(numbers)  # [1, 2, 3, 1, 2, 3, 1, 2, 3]

# In-place repetition
fruits = ['apple']
fruits *= 3
print(fruits)  # ['apple', 'apple', 'apple']

# Create initial list with repetition
zeros = [0] * 5
print(zeros)  # [0, 0, 0, 0, 0]

matrix = [[0] * 3] * 3  # Careful with nested lists!
print(matrix)  # [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# Better way for matrices (avoid reference issues)
matrix = [[0] * 3 for _ in range(3)]
print(matrix)  # [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

[1, 2, 3, 1, 2, 3, 1, 2, 3]
['apple', 'apple', 'apple']
[0, 0, 0, 0, 0]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

**Slice Assignment for Advanced Insertion**

Replace Elements with Slice Assignment

In [ ]:
# Replace elements
numbers = [1, 2, 3, 4, 5]
numbers[1:4] = [20, 30, 40]  # Replace indices 1-3
print(numbers)  # [1, 20, 30, 40, 5]

# Insert elements (replace empty slice)
numbers = [1, 2, 3]
numbers[1:1] = [99, 88]  # Insert at index 1
print(numbers)  # [1, 99, 88, 2, 3]

# Insert at beginning
numbers[0:0] = [-1, 0]
print(numbers)  # [-1, 0, 1, 99, 88, 2, 3]

# Insert at end
numbers[len(numbers):] = [100, 200]
print(numbers)  # [-1, 0, 1, 99, 88, 2, 3, 100, 200]

# Replace with different number of elements
fruits = ['apple', 'banana', 'cherry']
fruits[0:2] = ['apricot']  # Replace 2 elements with 1
print(fruits)  # ['apricot', 'cherry']

**Advanced Slice Patterns**

In [ ]:
# Insert with step
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [10, 30, 50, 70, 90]  # Replace every 2nd element
print(numbers)  # [10, 1, 30, 3, 50, 5, 70, 7, 90, 9]

# Insert multiple elements at specific positions
def insert_multiple(lst, positions, elements):
    """Insert elements at multiple positions"""
    for pos, elem in zip(positions, elements):
        lst.insert(pos, elem)
    return lst

numbers = [1, 2, 3, 4]
result = insert_multiple(numbers, [1, 3], ['a', 'b'])
print(result)  # [1, 'a', 2, 3, 'b', 4]

[10, 1, 30, 3, 50, 5, 70, 7, 90, 9]
[1, 'a', 2, 'b', 3, 4]

**Collection-Based Addition Methods**

Using collections.deque for Efficient Addition

In [ ]:
from collections import deque

# Efficient addition to both ends
dq = deque([2, 3, 4])
dq.appendleft(1)  # Add to beginning - O(1)
dq.append(5)      # Add to end - O(1)
print(dq)  # deque([1, 2, 3, 4, 5])

# Extend both ends efficiently
dq.extendleft([0, -1])  # Add to beginning - O(k)
dq.extend([6, 7, 8])    # Add to end - O(k)
print(dq)  # deque([-1, 0, 1, 2, 3, 4, 5, 6, 7, 8])

# Convert back to list
regular_list = list(dq)
print(regular_list)  # [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

deque([1, 2, 3, 4, 5])
deque([-1, 0, 1, 2, 3, 4, 5, 6, 7, 8])
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

**Using heapq for Priority-Based Addition**

In [ ]:
import heapq

# Create a heap (priority queue)
heap = []
heapq.heappush(heap, 5)
heapq.heappush(heap, 2)
heapq.heappush(heap, 8)
heapq.heappush(heap, 1)
print(heap)  # [1, 2, 8, 5] (min-heap structure)

# Add multiple elements
numbers = [10, 3, 7]
heapq.heapify(numbers)  # Convert list to heap
heapq.heappush(numbers, 1)
print(numbers)  # [1, 3, 7, 10]

# Push and pop simultaneously
heap = []
heapq.heappush(heap, (2, 'medium priority'))
heapq.heappush(heap, (1, 'high priority'))
heapq.heappush(heap, (3, 'low priority'))

while heap:
    priority, item = heapq.heappop(heap)
    print(f"{priority}: {item}")
# Output:
# 1: high priority
# 2: medium priority
# 3: low priority

[1, 2, 8, 5]
[1, 3, 7, 10]
1: high priority
2: medium priority
3: low priority

**Functional Programming Approaches**

Using map() for Transformation and Addition

In [ ]:
# Transform and add elements
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)  # [1, 4, 9, 16, 25]

# Multiple transformations
def double(x):
    return x * 2

def add_five(x):
    return x + 5

numbers = [1, 2, 3]
result = list(map(add_five, map(double, numbers)))
print(result)  # [7, 9, 11]

# Using map with multiple iterables
list1 = [1, 2, 3]
list2 = [10, 20, 30]
combined = list(map(lambda x, y: x + y, list1, list2))
print(combined)  # [11, 22, 33]

[1, 4, 9, 16, 25]
[7, 9, 11]
[11, 22, 33]

**Using reduce() for Cumulative Addition**

In [ ]:
from functools import reduce

# Cumulative sum
numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)  # 15

# Cumulative product
product = reduce(lambda x, y: x * y, numbers)
print(product)  # 120

# Complex reduction
strings = ['hello', 'world', 'python']
concatenated = reduce(lambda x, y: x + ' ' + y, strings)
print(concatenated)  # 'hello world python'

15
120
hello world python

**Advanced Addition Patterns**

Conditional Addition

In [ ]:
# Add elements based on condition
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_squares = [x**2 for x in numbers if x % 2 == 0]
print(even_squares)  # [4, 16, 36, 64, 100]

# Conditional addition with different values
def categorize_number(x):
    if x < 0:
        return 'negative'
    elif x == 0:
        return 'zero'
    else:
        return 'positive'

numbers = [-2, 0, 3, -1, 5]
categories = [categorize_number(x) for x in numbers]
print(categories)  # ['negative', 'zero', 'positive', 'negative', 'positive']

[4, 16, 36, 64, 100]
['negative', 'zero', 'positive', 'negative', 'positive']

**Flatten and Add Nested Structures**

In [ ]:
# Flatten nested lists
def flatten(nested_list):
    """Flatten a nested list"""
    result = []
    for item in nested_list:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

nested = [1, [2, [3, 4], 5], 6]
flat = flatten(nested)
print(flat)  # [1, 2, 3, 4, 5, 6]

# Using itertools
import itertools
nested = [[1, 2], [3, 4], [5, 6]]
flat = list(itertools.chain.from_iterable(nested))
print(flat)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

**Merging and Combining Lists**

In [ ]:
# Merge sorted lists
def merge_sorted_lists(list1, list2):
    """Merge two sorted lists"""
    result = []
    i = j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            result.append(list1[i])
            i += 1
        else:
            result.append(list2[j])
            j += 1

    # Add remaining elements
    result.extend(list1[i:])
    result.extend(list2[j:])
    return result

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged = merge_sorted_lists(list1, list2)
print(merged)  # [1, 2, 3, 4, 5, 6, 7, 8]

# Interleave lists
def interleave_lists(list1, list2):
    """Interleave elements from two lists"""
    result = []
    for a, b in zip(list1, list2):
        result.append(a)
        result.append(b)

    # Add remaining elements from longer list
    if len(list1) > len(list2):
        result.extend(list1[len(list2):])
    else:
        result.extend(list2[len(list1):])

    return result

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c', 'd']
interleaved = interleave_lists(list1, list2)
print(interleaved)  # [1, 'a', 2, 'b', 3, 'c', 'd']

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 'a', 2, 'b', 3, 'c', 'd']

**Performance-Optimized Addition**

Pre-allocation for Large Lists

In [ ]:
# Pre-allocate list for better performance with large datasets
def create_large_list_preallocated(size):
    """Create large list with pre-allocation"""
    result = [None] * size  # Pre-allocate
    for i in range(size):
        result[i] = i ** 2
    return result

def create_large_list_append(size):
    """Create large list with append"""
    result = []
    for i in range(size):
        result.append(i ** 2)
    return result

# Pre-allocation is faster for very large lists
large_list = create_large_list_preallocated(1000)

**Batch Addition for Efficiency**

In [ ]:
# Add elements in batches for better performance
def add_in_batches(lst, new_elements, batch_size=1000):
    """Add elements in batches to avoid frequent resizing"""
    for i in range(0, len(new_elements), batch_size):
        lst.extend(new_elements[i:i + batch_size])

# Example usage
large_list = list(range(10000))
new_elements = list(range(10000, 20000))
add_in_batches(large_list, new_elements, batch_size=1000)
print(len(large_list))  # 20000

20000

**Specialized Addition Scenarios**

Adding with Custom Sorting

In [ ]:
import bisect

# Maintain sorted list while adding
def add_to_sorted_list(lst, element):
    """Add element to sorted list while maintaining order"""
    bisect.insort(lst, element)
    return lst

sorted_numbers = [1, 3, 5, 7, 9]
add_to_sorted_list(sorted_numbers, 4)
add_to_sorted_list(sorted_numbers, 2)
add_to_sorted_list(sorted_numbers, 8)
print(sorted_numbers)  # [1, 2, 3, 4, 5, 7, 8, 9]

# With custom key
def add_to_sorted_custom(lst, element, key=None):
    """Add element to sorted list with custom key"""
    bisect.insort(lst, element, key=key)

students = [
    {'name': 'Alice', 'grade': 85},
    {'name': 'Bob', 'grade': 92},
    {'name': 'Charlie', 'grade': 78}
]

# Sort by grade
students.sort(key=lambda x: x['grade'])
new_student = {'name': 'Diana', 'grade': 88}
bisect.insort(students, new_student, key=lambda x: x['grade'])
print([s['name'] for s in students])  # ['Charlie', 'Alice', 'Diana', 'Bob']

[1, 2, 3, 4, 5, 7, 8, 9]
['Charlie', 'Alice', 'Diana', 'Bob']

**Adding with Deduplication**

In [ ]:
def add_unique(lst, element):
    """Add element only if it's not already in the list"""
    if element not in lst:
        lst.append(element)
    return lst

def add_unique_ordered(lst, element):
    """Add element only if not present, maintaining order"""
    if element not in lst:
        lst.append(element)
    return lst

# Using set for faster lookups (if order doesn't matter)
def add_unique_fast(lst, element, element_set=None):
    """Fast unique addition using set for membership testing"""
    if element_set is None:
        element_set = set(lst)

    if element not in element_set:
        lst.append(element)
        element_set.add(element)

    return lst, element_set

numbers = [1, 2, 3]
numbers, num_set = add_unique_fast(numbers, 4)
numbers, num_set = add_unique_fast(numbers, 2)  # Won't add duplicate
print(numbers)  # [1, 2, 3, 4]

[1, 2, 3, 4]



---



---

**2. Removing Elements**

**remove(item):**
Removes the first occurrence of the specified value. If the item does not exist, it raises an error.

In [ ]:
colors = ["red", "green", "blue", "green"]
colors.remove("green") # Removes only the first 'green'

print(colors)

['red', 'blue', 'green']

**pop(index)**

Removes the element at the specified index and returns it. If you do not specify an index, it removes the last item.

In [ ]:
stack = [10, 20, 30, 40]
item = stack.pop()     # 40
print(item)     # [10, 20, 30] 40

item = stack.pop(0)    # 10 (acts like a queue)
print(item)     # [20, 30] 10

40
10

**clear()**

Removes all elements from the list, leaving it empty.

In [ ]:
data = [1, 2, 3]
data.clear()
print(data)            # []

[]

**Slice Deletion (Removing a Range)**

If you need to remove a chunk of items (e.g., "remove the first 3 items" or "remove items from index 2 to 5"), using a loop is inefficient. Use the del keyword with slicing.

Syntax: del list[start:end]

In [ ]:
letters = ["a", "b", "c", "d", "e", "f"]

# Delete indices 1 through 3 (items 'b', 'c', 'd')
del letters[1:4]

print(letters)
# Output: ['a', 'e', 'f']

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
letters[1:4] = [] # Same result

**Safe Removal While Looping**

A common Python bug: If you try to remove items from a list while iterating over it using a standard for loop, Python will skip items because the indices shift as you delete things.

The Fix: Iterate over a copy of the list using [:].

In [ ]:
data = [10, 20, 30, 40, 50]

# We want to remove values greater than 25
# iterate over data[:] (a copy), but modify 'data' (the original)
for num in data[:]:
    if num > 25:
        data.remove(num)

print(data)
# Output: [10, 20]

[10, 20]

**Removing Duplicates**

Lists do not filter duplicates by default. You have two main ways to clean them up.

Method A: Using set (Fastest, but loses order) Sets cannot have duplicates. Converting to a set and back cleans the list instantly.

In [ ]:
raw_data = [1, 2, 2, 3, 1, 4]
clean_data = list(set(raw_data))

print(clean_data)
# Output: [1, 2, 3, 4] (Order might be random!)

[1, 2, 3, 4]

Method B: Using dict (Preserves Order) If the order matters (e.g., you want to keep the first occurrence of the duplicate), use dict.fromkeys() (available in Python 3.7+).

In [ ]:
raw_data = [1, 2, 2, 3, 1, 4]
clean_data = list(dict.fromkeys(raw_data))

print(clean_data)
# Output: [1, 2, 3, 4] (Order preserved)

[1, 2, 3, 4]


remove() - Remove by Value

In [ ]:
# Remove first occurrence
fruits = ['apple', 'banana', 'cherry', 'banana', 'date']
fruits.remove('banana')
print(fruits)  # ['apple', 'cherry', 'banana', 'date']

# Remove non-existent element (raises ValueError)
try:
    fruits.remove('orange')
except ValueError as e:
    print(f"Error: {e}")  # Error: list.remove(x): x not in list

# Safe removal with check
def safe_remove(lst, item):
    if item in lst:
        lst.remove(item)
        return True
    return False

fruits = ['apple', 'banana', 'cherry']
print(safe_remove(fruits, 'banana'))  # True
print(fruits)  # ['apple', 'cherry']
print(safe_remove(fruits, 'orange'))  # False

['apple', 'cherry', 'banana', 'date']
Error: list.remove(x): x not in list
True
['apple', 'cherry']
False

**pop() - Remove by Index**

In [ ]:
# Remove and return element at specific index
fruits = ['apple', 'banana', 'cherry', 'date']
removed = fruits.pop(1)
print(removed)  # 'banana'
print(fruits)   # ['apple', 'cherry', 'date']

# Remove last element (default behavior)
last = fruits.pop()
print(last)    # 'date'
print(fruits)  # ['apple', 'cherry']

# Pop from empty list (raises IndexError)
empty_list = []
try:
    empty_list.pop()
except IndexError as e:
    print(f"Error: {e}")  # Error: pop from empty list

# Safe pop function
def safe_pop(lst, index=-1):
    if 0 <= index < len(lst) or (index == -1 and lst):
        return lst.pop(index)
    return None

fruits = ['apple', 'banana']
print(safe_pop(fruits, 5))   # None (index out of range)
print(safe_pop(fruits, 1))   # 'banana'
print(safe_pop([]))          # None (empty list)

banana
['apple', 'cherry', 'date']
date
['apple', 'cherry']
Error: pop from empty list
None
banana
None

**clear() - Remove All Elements**

In [ ]:
# Remove all elements
fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)  # []

# Different ways to clear a list
numbers = [1, 2, 3, 4, 5]

# Method 1: clear()
numbers.clear()
print(numbers)  # []

# Method 2: Slice assignment
numbers = [1, 2, 3, 4, 5]
numbers[:] = []
print(numbers)  # []

# Method 3: Multiply by 0
numbers = [1, 2, 3, 4, 5]
numbers *= 0
print(numbers)  # []

# Method 4: Del slice
numbers = [1, 2, 3, 4, 5]
del numbers[:]
print(numbers)  # []

[]
[]
[]
[]
[]

**Advanced Removal Techniques**

Using del Statement

In [ ]:
# Delete by index
fruits = ['apple', 'banana', 'cherry', 'date']
del fruits[1]
print(fruits)  # ['apple', 'cherry', 'date']

# Delete slice
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
del numbers[2:5]  # Remove indices 2,3,4
print(numbers)    # [0, 1, 5, 6, 7, 8, 9]

# Delete with step
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
del numbers[::2]  # Remove every second element
print(numbers)    # [1, 3, 5, 7, 9]

# Delete entire list
fruits = ['apple', 'banana']
del fruits
# print(fruits)  # NameError: name 'fruits' is not defined

['apple', 'cherry', 'date']
[0, 1, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

Slice Assignment for Removal

In [ ]:
# Remove elements using slice assignment
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Remove first 3 elements
numbers[:3] = []
print(numbers)  # [3, 4, 5, 6, 7, 8, 9]

# Remove last 2 elements
numbers[-2:] = []
print(numbers)  # [3, 4, 5, 6, 7]

# Remove middle elements
numbers[1:4] = []
print(numbers)  # [3, 7]

# Replace with fewer elements
fruits = ['apple', 'banana', 'cherry', 'date']
fruits[1:3] = ['blueberry']  # Replace 2 elements with 1
print(fruits)  # ['apple', 'blueberry', 'date']

[3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7]
[3, 7]
['apple', 'blueberry', 'date']

**Conditional Removal Methods**

List Comprehension Filtering

In [ ]:
# Remove all even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)  # [1, 3, 5, 7, 9]

# Remove empty strings
words = ['hello', '', 'world', '', 'python', '']
non_empty = [word for word in words if word]
print(non_empty)  # ['hello', 'world', 'python']

# Remove None values
data = [1, None, 'hello', None, 3.14, None]
clean_data = [x for x in data if x is not None]
print(clean_data)  # [1, 'hello', 3.14]

# Remove duplicates while preserving order
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

numbers = [1, 2, 2, 3, 4, 4, 4, 5]
print(remove_duplicates(numbers))  # [1, 2, 3, 4, 5]

[1, 3, 5, 7, 9]
['hello', 'world', 'python']
[1, 'hello', 3.14]
[1, 2, 3, 4, 5]

**Using filter() Function**

In [ ]:
# Remove negative numbers
numbers = [1, -2, 3, -4, 5, -6]
positive = list(filter(lambda x: x >= 0, numbers))
print(positive)  # [1, 3, 5]

# Remove short strings
words = ['a', 'python', 'list', 'i', 'comprehensive']
long_words = list(filter(lambda x: len(x) > 2, words))
print(long_words)  # ['python', 'list', 'comprehensive']

# Remove falsy values (None, 0, '', False, [])
mixed = [0, 1, '', 'hello', None, False, [], [1, 2]]
truthy = list(filter(None, mixed))
print(truthy)  # [1, 'hello', [1, 2]]

[1, 3, 5]
['python', 'list', 'comprehensive']
[1, 'hello', [1, 2]]

**Advanced Removal Patterns**

Remove Multiple Values

In [ ]:
def remove_multiple(lst, items_to_remove):
    """Remove all occurrences of multiple items"""
    return [x for x in lst if x not in items_to_remove]

fruits = ['apple', 'banana', 'cherry', 'date', 'banana', 'apple']
to_remove = ['apple', 'banana']
cleaned = remove_multiple(fruits, to_remove)
print(cleaned)  # ['cherry', 'date']

# Using filter
def remove_multiple_filter(lst, items_to_remove):
    return list(filter(lambda x: x not in items_to_remove, lst))

numbers = [1, 2, 3, 4, 5, 2, 3, 1]
to_remove = {1, 3}  # Using set for faster lookup
cleaned = remove_multiple_filter(numbers, to_remove)
print(cleaned)  # [2, 4, 5, 2]

['cherry', 'date']
[2, 4, 5, 2]

**Remove While Iterating (Carefully!)**

In [ ]:
# WRONG WAY - modifying while iterating
numbers = [1, 2, 3, 4, 5]
# for num in numbers:
#     if num % 2 == 0:
#         numbers.remove(num)  # This can cause unexpected behavior!

# RIGHT WAY - iterate over copy
numbers = [1, 2, 3, 4, 5]
for num in numbers[:]:  # Iterate over copy
    if num % 2 == 0:
        numbers.remove(num)
print(numbers)  # [1, 3, 5]

# BETTER WAY - create new list
numbers = [1, 2, 3, 4, 5]
numbers = [num for num in numbers if num % 2 != 0]
print(numbers)  # [1, 3, 5]

[1, 3, 5]
[1, 3, 5]

**Remove from Nested Structures**

In [ ]:
# Remove from nested lists
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Remove element from specific sublist
matrix[1].remove(5)
print(matrix)  # [[1, 2, 3], [4, 6], [7, 8, 9]]

# Remove entire sublist
del matrix[0]
print(matrix)  # [[4, 6], [7, 8, 9]]

# Remove elements from all sublists
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for sublist in matrix:
    if 2 in sublist:
        sublist.remove(2)
    if 5 in sublist:
        sublist.remove(5)
    if 8 in sublist:
        sublist.remove(8)
print(matrix)  # [[1, 3], [4, 6], [7, 9]]

[[1, 2, 3], [4, 6], [7, 8, 9]]
[[4, 6], [7, 8, 9]]
[[1, 3], [4, 6], [7, 9]]

**Performance-Optimized Removal**

Using Collections.deque for Efficient Removal

In [ ]:
from collections import deque

# Efficient for removing from both ends
dq = deque([1, 2, 3, 4, 5])
dq.popleft()  # Remove from left - O(1)
print(dq)     # deque([2, 3, 4, 5])

dq.pop()      # Remove from right - O(1)
print(dq)     # deque([2, 3, 4])

# Remove specific element (still O(n))
dq.remove(3)
print(dq)     # deque([2, 4])

deque([2, 3, 4, 5])
deque([2, 3, 4])
deque([2, 4])

Bulk Removal with Sets

In [ ]:
# Efficient removal of multiple items using set operations
def bulk_remove(lst, to_remove):
    """Efficiently remove multiple items using set"""
    remove_set = set(to_remove)
    return [x for x in lst if x not in remove_set]

large_list = list(range(1000))
to_remove = list(range(100, 200))  # Remove 100 items
result = bulk_remove(large_list, to_remove)
print(len(result))  # 900

900

**Specialized Removal Functions**

Remove and Return Removed Elements

In [ ]:
def remove_and_return(lst, condition):
    """Remove elements matching condition and return them"""
    removed = [x for x in lst if condition(x)]
    lst[:] = [x for x in lst if not condition(x)]
    return removed

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens_removed = remove_and_return(numbers, lambda x: x % 2 == 0)
print(f"Removed: {evens_removed}")  # Removed: [2, 4, 6, 8, 10]
print(f"Remaining: {numbers}")      # Remaining: [1, 3, 5, 7, 9]

Removed: [2, 4, 6, 8, 10]
Remaining: [1, 3, 5, 7, 9]

**Remove Consecutive Duplicates**

In [ ]:
def remove_consecutive_duplicates(lst):
    """Remove consecutive duplicate elements"""
    if not lst:
        return []
    result = [lst[0]]
    for i in range(1, len(lst)):
        if lst[i] != lst[i-1]:
            result.append(lst[i])
    return result

numbers = [1, 1, 2, 2, 3, 2, 2, 4, 4, 4, 5]
cleaned = remove_consecutive_duplicates(numbers)
print(cleaned)  # [1, 2, 3, 2, 4, 5]

# Using itertools
import itertools
numbers = [1, 1, 2, 2, 3, 2, 2, 4, 4, 4, 5]
cleaned = [k for k, g in itertools.groupby(numbers)]
print(cleaned)  # [1, 2, 3, 2, 4, 5]

[1, 2, 3, 2, 4, 5]
[1, 2, 3, 2, 4, 5]

**Remove Elements by Index Patterns**

In [ ]:
def remove_every_nth(lst, n):
    """Remove every nth element"""
    return [lst[i] for i in range(len(lst)) if (i + 1) % n != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = remove_every_nth(numbers, 3)  # Remove every 3rd element
print(result)  # [1, 2, 4, 5, 7, 8, 10]

def remove_indices(lst, indices):
    """Remove elements at specified indices"""
    indices_set = set(indices)
    return [lst[i] for i in range(len(lst)) if i not in indices_set]

fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
to_remove = [1, 3]  # Remove indices 1 and 3
result = remove_indices(fruits, to_remove)
print(result)  # ['apple', 'cherry', 'elderberry']

[1, 2, 4, 5, 7, 8, 10]
['apple', 'cherry', 'elderberry']

**Memory-Efficient Removal**

In-Place Modification vs New List

In [ ]:
# Memory efficient: modify in place
def remove_evens_in_place(lst):
    """Remove even numbers in place (memory efficient)"""
    i = 0
    while i < len(lst):
        if lst[i] % 2 == 0:
            lst.pop(i)
        else:
            i += 1

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
remove_evens_in_place(numbers)
print(numbers)  # [1, 3, 5, 7, 9]

# Memory intensive: create new list
def remove_evens_new_list(lst):
    """Remove even numbers by creating new list"""
    return [x for x in lst if x % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = remove_evens_new_list(numbers)
print(result)  # [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

**3. Finding and Counting**

**index(item, start, end)**

Returns the index of the first occurrence of the specified value. You can optionally specify a start and end range for the search.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'banana']
index = fruits.index('banana')
print(index)  # 1

# With start and end parameters
index = fruits.index('banana', 2)  # Start searching from index 2
print(index)  # 3

1
3

**count(item)**

Returns the number of times a specified value appears in the list.

In [ ]:
scores = [10, 20, 10, 30, 10]
total_tens = scores.count(10)

print(total_tens)

3

**3.1 Finding All Indices**

The standard .index() method stops after finding the first match. To find every position where an item appears, we use List Comprehension with enumerate().

Scenario: Find all locations of the value 1

In [ ]:
data = [1, 0, 1, 2, 1, 5]

# Logic: (i) is the index, (x) is the value.
# We keep (i) if (x) is equal to 1.
indices = [i for i, x in enumerate(data) if x == 1]

print(indices)
# Output: [0, 2, 4]

[0, 2, 4]

Finding Multiple Occurrences

In [ ]:
def find_all_occurrences(lst, item):
    """Find all indices of an item in a list"""
    return [i for i, x in enumerate(lst) if x == item]

numbers = [1, 2, 3, 2, 4, 2, 5]
print(find_all_occurrences(numbers, 2))  # [1, 3, 5]
print(find_all_occurrences(numbers, 6))  # [] (not found)

# Using enumerate directly
fruits = ['apple', 'banana', 'cherry', 'banana']
indices = [i for i, fruit in enumerate(fruits) if fruit == 'banana']
print(indices)  # [1, 3]

[1, 3, 5]
[]
[1, 3]

**3.2 Conditional Finding (Find First Match)**

Sometimes you don't know the exact value, but you want to find the first item that meets a condition (e.g., the first even number). We use the next() function with a generator.

Scenario: Find the first number greater than 10.

In [ ]:
numbers = [4, 8, 15, 16, 23, 42]

# logic: returns the first 'n' that matches the condition.
# 'None' is returned if nothing is found.
first_match = next((n for n in numbers if n > 10), None)

print(first_match)
# Output: 15

15

Finding with Conditions

In [ ]:
numbers = [10, 25, 30, 45, 50, 65, 70]

# Find first even number
first_even = next((x for x in numbers if x % 2 == 0), None)
print(first_even)  # 10

# Find first number greater than 40
first_large = next((x for x in numbers if x > 40), None)
print(first_large)  # 45

# Find index of first negative number
numbers = [10, 5, -2, 8, -1, 3]
first_negative_idx = next((i for i, x in enumerate(numbers) if x < 0), -1)
print(first_negative_idx)  # 2

10
45
2

**3.3 Conditional Counting**

The standard .count() only counts exact matches. To count items that satisfy a rule (like "numbers less than 5" or "words starting with 'A'"), we use sum() with a Boolean generator.

Scenario: Count how many odd numbers are in the list.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# True evaluates to 1, False evaluates to 0.
# So this sums up all the "True" instances.
odd_count = sum(1 for n in numbers if n % 2 != 0)

print(odd_count)
# Output: 3

3

Counting with Conditions

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Count even numbers
even_count = sum(1 for x in numbers if x % 2 == 0)
print(even_count)  # 5

# Count numbers greater than 5
greater_than_5 = sum(1 for x in numbers if x > 5)
print(greater_than_5)  # 5

# Using list comprehension + len
even_count = len([x for x in numbers if x % 2 == 0])
print(even_count)  # 5

5
5
5

Counting Multiple Conditions

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Count numbers between 3 and 8
between_3_8 = sum(1 for x in numbers if 3 <= x <= 8)
print(between_3_8)  # 6

# Count numbers that are even AND greater than 5
even_and_large = sum(1 for x in numbers if x % 2 == 0 and x > 5)
print(even_and_large)  # 3 (6, 8, 10)

# Count numbers that are even OR greater than 8
even_or_large = sum(1 for x in numbers if x % 2 == 0 or x > 8)
print(even_or_large)  # 7 (2,4,6,8,10 + 9)

6
3
6

**3.4 Finding Min/Max with Custom Logic**

In [ ]:
# Find string with maximum length
fruits = ['apple', 'banana', 'cherry', 'date']
longest = max(fruits, key=len)
print(longest)  # 'banana'

# Find string with minimum length
shortest = min(fruits, key=len)
print(shortest)  # 'date'

# Find student with highest grade
students = [
    {'name': 'Alice', 'grade': 85},
    {'name': 'Bob', 'grade': 92},
    {'name': 'Charlie', 'grade': 78}
]
top_student = max(students, key=lambda x: x['grade'])
print(top_student)  # {'name': 'Bob', 'grade': 92}

banana
date
{'name': 'Bob', 'grade': 92}

**3.5 The "Pro" Way: collections.Counter**

If you need to count everything in a list at once (frequency analysis), Python has a specialized tool in the collections library called Counter. It is much faster than writing a loop.

Scenario: Count the frequency of every fruit in the list.

In [ ]:
from collections import Counter

fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
counts = Counter(fruits)

print(counts)
# Output: Counter({'apple': 3, 'banana': 2, 'orange': 1})

# You can then ask specifically:
print(counts["apple"])
# Output: 3

Counter({'apple': 3, 'banana': 2, 'orange': 1})
3

Frequency Analysis

In [ ]:
from collections import Counter

# Word frequency in text
text = "apple banana apple cherry banana apple date"
words = text.split()
word_freq = Counter(words)
print(word_freq)
# Counter({'apple': 3, 'banana': 2, 'cherry': 1, 'date': 1})

# Most common words
print(word_freq.most_common(2))  # [('apple', 3), ('banana', 2)]

# Letter frequency
sentence = "hello world"
letter_freq = Counter(sentence.replace(" ", ""))
print(letter_freq)
# Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, 'w': 1, 'r': 1, 'd': 1})

Counter({'apple': 3, 'banana': 2, 'cherry': 1, 'date': 1})
[('apple', 3), ('banana', 2)]
Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, 'w': 1, 'r': 1, 'd': 1})

**Advanced Finding Patterns**

Finding with Custom Objects

In [ ]:
class Product:
    def __init__(self, name, price, category):
        self.name = name
        self.price = price
        self.category = category

    def __repr__(self):
        return f"Product({self.name}, ${self.price})"

products = [
    Product('Laptop', 1000, 'Electronics'),
    Product('Phone', 500, 'Electronics'),
    Product('Book', 20, 'Education'),
    Product('Tablet', 300, 'Electronics')
]

# Find most expensive product
most_expensive = max(products, key=lambda p: p.price)
print(most_expensive)  # Product(Laptop, $1000)

# Find all electronics products
electronics = [p for p in products if p.category == 'Electronics']
print(electronics)
# [Product(Laptop, $1000), Product(Phone, $500), Product(Tablet, $300)]

# Count products by category
category_count = {}
for product in products:
    category_count[product.category] = category_count.get(product.category, 0) + 1
print(category_count)  # {'Electronics': 3, 'Education': 1}

Product(Laptop, $1000)
[Product(Laptop, $1000), Product(Phone, $500), Product(Tablet, $300)]
{'Electronics': 3, 'Education': 1}

**Finding Patterns with Filter and  Map**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Find and count primes
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = list(filter(is_prime, numbers))
prime_count = len(primes)
print(f"Primes: {primes}")      # Primes: [2, 3, 5, 7]
print(f"Count: {prime_count}")  # Count: 4

# Find squares and count even squares
squares = list(map(lambda x: x**2, numbers))
even_squares = [x for x in squares if x % 2 == 0]
even_squares_count = len(even_squares)
print(f"Even squares: {even_squares}")      # Even squares: [4, 16, 36, 64, 100]
print(f"Count: {even_squares_count}")       # Count: 5

Primes: [2, 3, 5, 7]
Count: 4
Even squares: [4, 16, 36, 64, 100]
Count: 5

**Error Handling in Finding Operations**

In [ ]:
def safe_index(lst, item, default=-1):
    """Safely find index of item, return default if not found"""
    try:
        return lst.index(item)
    except ValueError:
        return default

def safe_count(lst, item):
    """Safely count occurrences, return 0 if item not present"""
    return lst.count(item)  # count() already returns 0 for missing items

# Usage
fruits = ['apple', 'banana', 'cherry']
print(safe_index(fruits, 'banana'))  # 1
print(safe_index(fruits, 'orange'))  # -1
print(safe_count(fruits, 'apple'))   # 1
print(safe_count(fruits, 'orange'))  # 0

**Performance-Optimized Finding**

In [ ]:
# For frequent lookups, convert to set first
large_list = list(range(1000000))

# Slow: O(n) for each search
# if 999999 in large_list:  # Slow

# Fast: O(1) for each search after conversion
large_set = set(large_list)
if 999999 in large_set:  # Fast
    print("Found!")

# Counting unique elements quickly
def fast_unique_count(lst):
    return len(set(lst))

numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(fast_unique_count(numbers))  # 4

Found!
4

**Multi-dimensional Finding**

In [ ]:
# Finding in 2D lists (matrices)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Find coordinates of a value
def find_in_matrix(mat, value):
    for i, row in enumerate(mat):
        for j, element in enumerate(row):
            if element == value:
                return (i, j)
    return None

print(find_in_matrix(matrix, 5))  # (1, 1)
print(find_in_matrix(matrix, 10)) # None

# Count occurrences in 2D list
matrix_with_dupes = [
    [1, 2, 2],
    [2, 3, 4],
    [2, 5, 6]
]

# Count all 2's in the matrix
count_2 = sum(row.count(2) for row in matrix_with_dupes)
print(count_2)  # 4

(1, 1)
None
4

**4. Sorting and Reversing**


sort(reverse=False, key=None)

Sorts the list in-place (modifies the original list). By default, it sorts ascending. You can set reverse=True for descending order.

In [ ]:
numbers = [5, 2, 9, 1]
numbers.sort()

print(numbers)
# Output: [1, 2, 5, 9]

numbers.sort(reverse=True)
print(numbers)
# Output: [9, 5, 2, 1]

[1, 2, 5, 9]
[9, 5, 2, 1]

In [ ]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
print(numbers)  # [1, 1, 2, 3, 4, 5, 9]

# Descending order
numbers.sort(reverse=True)
print(numbers)  # [9, 5, 4, 3, 2, 1, 1]

# Strings
fruits = ['banana', 'apple', 'cherry']
fruits.sort()
print(fruits)  # ['apple', 'banana', 'cherry']

[1, 1, 2, 3, 4, 5, 9]
[9, 5, 4, 3, 2, 1, 1]
['apple', 'banana', 'cherry']

reverse()

Reverses the order of the list in-place.

In [ ]:
items = ["start", "middle", "end"]
items.reverse()

print(items)
# Output: ['end', 'middle', 'start']

['end', 'middle', 'start']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)  # ['cherry', 'banana', 'apple']

['cherry', 'banana', 'apple']

**Copying**

copy()
Returns a shallow copy of the list. This is equivalent to slicing list[:].

Note: Simply saying list2 = list1 does not create a copy; it creates a reference. Changes to list1 would affect list2. Use .copy() to separate them.

In [ ]:
original = [1, 2, 3]
duplicate = original.copy()

original.append(4)

print(original)  # Output: [1, 2, 3, 4]
print(duplicate) # Output: [1, 2, 3] (Unchanged)

[1, 2, 3, 4]
[1, 2, 3]

copy() - Create shallow copy

In [ ]:
original = [1, 2, 3]
copied = original.copy()
copied.append(4)
print(original)  # [1, 2, 3]
print(copied)    # [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

Diffrence in Shallow copy and deep copy

In [ ]:
# Basic ascending sort
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
print(numbers)  # [1, 1, 2, 3, 4, 5, 9]

# Descending sort
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort(reverse=True)
print(numbers)  # [9, 5, 4, 3, 2, 1, 1]

# String sorting
fruits = ['banana', 'apple', 'cherry', 'date']
fruits.sort()
print(fruits)  # ['apple', 'banana', 'cherry', 'date']

# Case-insensitive sorting
words = ['Apple', 'banana', 'Cherry', 'date']
words.sort(key=str.lower)
print(words)  # ['Apple', 'banana', 'Cherry', 'date']

[1, 1, 2, 3, 4, 5, 9]
[9, 5, 4, 3, 2, 1, 1]
['apple', 'banana', 'cherry', 'date']
['Apple', 'banana', 'Cherry', 'date']

In [ ]:
# Basic sorted (returns new list)
numbers = [3, 1, 4, 1, 5, 9, 2]
sorted_numbers = sorted(numbers)
print(numbers)        # [3, 1, 4, 1, 5, 9, 2] (original unchanged)
print(sorted_numbers) # [1, 1, 2, 3, 4, 5, 9]

# Descending order
sorted_desc = sorted(numbers, reverse=True)
print(sorted_desc)  # [9, 5, 4, 3, 2, 1, 1]

# Sorting different iterables
text = "python"
sorted_chars = sorted(text)
print(sorted_chars)  # ['h', 'n', 'o', 'p', 't', 'y']

tuple_data = (3, 1, 4, 1, 5)
sorted_tuple = sorted(tuple_data)
print(sorted_tuple)  # [1, 1, 3, 4, 5]

[3, 1, 4, 1, 5, 9, 2]
[1, 1, 2, 3, 4, 5, 9]
[9, 5, 4, 3, 2, 1, 1]
['h', 'n', 'o', 'p', 't', 'y']
[1, 1, 3, 4, 5]

**Advanced Sorting with Custom Keys**

Sorting with key Parameter

In [ ]:
# Sort by string length
fruits = ['apple', 'kiwi', 'banana', 'pear']
fruits.sort(key=len)
print(fruits)  # ['kiwi', 'pear', 'apple', 'banana']

# Sort by absolute value
numbers = [-5, 3, -1, 4, -2, 0]
numbers.sort(key=abs)
print(numbers)  # [0, -1, -2, 3, 4, -5]

# Sort by second character
words = ['apple', 'banana', 'cherry', 'date']
words.sort(key=lambda x: x[1])
print(words)  # ['date', 'banana', 'apple', 'cherry']

# Sort by last character
words.sort(key=lambda x: x[-1])
print(words)  # ['banana', 'apple', 'date', 'cherry']

['kiwi', 'pear', 'apple', 'banana']
[0, -1, -2, 3, 4, -5]
['banana', 'date', 'cherry', 'apple']
['banana', 'date', 'apple', 'cherry']

**Complex Object Sorting**

In [ ]:
# List of dictionaries
students = [
    {'name': 'Alice', 'age': 25, 'grade': 88},
    {'name': 'Bob', 'age': 22, 'grade': 92},
    {'name': 'Charlie', 'age': 23, 'grade': 78},
    {'name': 'Diana', 'age': 25, 'grade': 95}
]

# Sort by grade (descending)
students.sort(key=lambda x: x['grade'], reverse=True)
for student in students:
    print(f"{student['name']}: {student['grade']}")
# Diana: 95
# Bob: 92
# Alice: 88
# Charlie: 78

# Sort by multiple criteria (age then grade)
students.sort(key=lambda x: (x['age'], x['grade']))
for student in students:
    print(f"{student['name']}: age {student['age']}, grade {student['grade']}")
# Bob: age 22, grade 92
# Charlie: age 23, grade 78
# Alice: age 25, grade 88
# Diana: age 25, grade 95

Diana: 95
Bob: 92
Alice: 88
Charlie: 78
Bob: age 22, grade 92
Charlie: age 23, grade 78
Alice: age 25, grade 88
Diana: age 25, grade 95

**Class Object Sorting**

In [ ]:
class Product:
    def __init__(self, name, price, category):
        self.name = name
        self.price = price
        self.category = category

    def __repr__(self):
        return f"{self.name} (${self.price})"

products = [
    Product('Laptop', 1000, 'Electronics'),
    Product('Phone', 500, 'Electronics'),
    Product('Book', 20, 'Education'),
    Product('Tablet', 300, 'Electronics'),
    Product('Notebook', 5, 'Education')
]

# Sort by price
products.sort(key=lambda x: x.price)
print(products)
# [Notebook ($5), Book ($20), Tablet ($300), Phone ($500), Laptop ($1000)]

# Sort by category then price
products.sort(key=lambda x: (x.category, x.price))
print(products)
# [Notebook ($5), Book ($20), Tablet ($300), Phone ($500), Laptop ($1000)]

[Notebook ($5), Book ($20), Tablet ($300), Phone ($500), Laptop ($1000)]
[Notebook ($5), Book ($20), Tablet ($300), Phone ($500), Laptop ($1000)]

**Advanced Sorting Techniques**

Stable Sorting and Multiple Passes

In [ ]:
# Python's sort is stable (preserves order of equal elements)
data = [
    ('apple', 'fruit'),
    ('banana', 'fruit'),
    ('carrot', 'vegetable'),
    ('date', 'fruit'),
    ('eggplant', 'vegetable')
]

# Sort by type first, then by name
data.sort(key=lambda x: x[0])  # Sort by name
data.sort(key=lambda x: x[1])  # Sort by type (stable sort)
print(data)
# [('apple', 'fruit'), ('banana', 'fruit'), ('date', 'fruit'),
#  ('carrot', 'vegetable'), ('eggplant', 'vegetable')]

[('apple', 'fruit'), ('banana', 'fruit'), ('date', 'fruit'), ('carrot', 'vegetable'), ('eggplant', 'vegetable')]

**Custom Comparison Functions**

In [ ]:
# Using cmp_to_key for complex comparisons
from functools import cmp_to_key

def custom_compare(a, b):
    """Custom comparison: even numbers first, then odd, both ascending"""
    if a % 2 == 0 and b % 2 == 0:
        return a - b  # Both even - ascending
    elif a % 2 == 1 and b % 2 == 1:
        return a - b  # Both odd - ascending
    elif a % 2 == 0:
        return -1     # a even, b odd - a comes first
    else:
        return 1      # a odd, b even - b comes first

numbers = [3, 1, 4, 1, 5, 9, 2, 6]
numbers.sort(key=cmp_to_key(custom_compare))
print(numbers)  # [2, 4, 6, 1, 1, 3, 5, 9]

[2, 4, 6, 1, 1, 3, 5, 9]

**Natural Sorting (Human-readable)**

In [ ]:
import re

def natural_sort_key(text):
    """
    Sort strings containing numbers in natural order
    e.g., "item2" comes before "item10"
    """
    return [int(part) if part.isdigit() else part.lower()
            for part in re.split(r'(\d+)', text)]

files = ['file1.txt', 'file10.txt', 'file2.txt', 'file20.txt']
files.sort(key=natural_sort_key)
print(files)  # ['file1.txt', 'file2.txt', 'file10.txt', 'file20.txt']

# Without natural sort
files.sort()
print(files)  # ['file1.txt', 'file10.txt', 'file2.txt', 'file20.txt']

['file1.txt', 'file2.txt', 'file10.txt', 'file20.txt']
['file1.txt', 'file10.txt', 'file2.txt', 'file20.txt']

**Reversing Methods**

1. reverse() - In-Place Reversal

In [ ]:
# Basic reverse
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)  # [5, 4, 3, 2, 1]

# Strings
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)  # ['cherry', 'banana', 'apple']

# Reverse modifies original list
original = [1, 2, 3]
original.reverse()
print(original)  # [3, 2, 1]

[5, 4, 3, 2, 1]
['cherry', 'banana', 'apple']
[3, 2, 1]

**2. Slicing for Reversal**

In [ ]:
# Using slicing to reverse (creates new list)
numbers = [1, 2, 3, 4, 5]
reversed_numbers = numbers[::-1]
print(numbers)          # [1, 2, 3, 4, 5] (original unchanged)
print(reversed_numbers) # [5, 4, 3, 2, 1]

# Reverse copy
fruits = ['apple', 'banana', 'cherry']
reversed_fruits = fruits[::-1]
print(reversed_fruits)  # ['cherry', 'banana', 'apple']

# Partial reversal
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
middle_reversed = numbers[2:7][::-1]
print(middle_reversed)  # [7, 6, 5, 4, 3]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['cherry', 'banana', 'apple']
[7, 6, 5, 4, 3]

**3. reversed() - Reverse Iterator**

In [ ]:
# reversed() returns iterator
numbers = [1, 2, 3, 4, 5]
reversed_iter = reversed(numbers)
print(list(reversed_iter))  # [5, 4, 3, 2, 1]

# Memory efficient for large lists
large_list = list(range(1000000))
for item in reversed(large_list):
    if item == 999995:  # Just an example condition
        print("Found!")
        break

# Using with strings
text = "hello"
reversed_text = ''.join(reversed(text))
print(reversed_text)  # "olleh"

[5, 4, 3, 2, 1]
Found!
olleh

**Specialized Sorting Algorithms**

Bubble Sort Implementation

In [ ]:
def bubble_sort(lst):
    """Bubble sort implementation"""
    n = len(lst)
    for i in range(n):
        # Last i elements are already in place
        for j in range(0, n-i-1):
            if lst[j] > lst[j+1]:
                lst[j], lst[j+1] = lst[j+1], lst[j]
    return lst

numbers = [64, 34, 25, 12, 22, 11, 90]
sorted_numbers = bubble_sort(numbers.copy())
print(f"Original: {numbers}")
print(f"Sorted: {sorted_numbers}")

Original: [64, 34, 25, 12, 22, 11, 90]
Sorted: [11, 12, 22, 25, 34, 64, 90]

Quick Sort Implementation

In [ ]:
def quicksort(lst):
    """Quick sort implementation"""
    if len(lst) <= 1:
        return lst
    pivot = lst[len(lst) // 2]
    left = [x for x in lst if x < pivot]
    middle = [x for x in lst if x == pivot]
    right = [x for x in lst if x > pivot]
    return quicksort(left) + middle + quicksort(right)

numbers = [64, 34, 25, 12, 22, 11, 90]
sorted_numbers = quicksort(numbers)
print(f"Original: {numbers}")
print(f"Sorted: {sorted_numbers}")

Original: [64, 34, 25, 12, 22, 11, 90]
Sorted: [11, 12, 22, 25, 34, 64, 90]

**Performance and Memory Considerations**

Sorting Large Datasets

In [ ]:
import random
import time

# Generate large dataset
large_data = [random.randint(1, 1000000) for _ in range(100000)]

# Time different sorting approaches
start_time = time.time()
sorted_data = sorted(large_data)  # Creates new list
sort_time = time.time() - start_time

start_time = time.time()
large_data_copy = large_data.copy()
large_data_copy.sort()  # Sorts in place
in_place_time = time.time() - start_time

print(f"Sorted() time: {sort_time:.4f} seconds")
print(f"Sort() time: {in_place_time:.4f} seconds")

Sorted() time: 0.0582 seconds
Sort() time: 0.0295 seconds

Sorting with External Key Function

In [ ]:
# Precompute keys for better performance with complex key functions
class Employee:
    def __init__(self, name, department, salary):
        self.name = name
        self.department = department
        self.salary = salary

employees = [
    Employee('Alice', 'Engineering', 80000),
    Employee('Bob', 'Marketing', 60000),
    Employee('Charlie', 'Engineering', 90000),
    Employee('Diana', 'Marketing', 70000)
]

# Efficient: precompute keys
employees_with_key = [(emp.department, emp.salary, emp) for emp in employees]
employees_with_key.sort()
sorted_employees = [emp for _, _, emp in employees_with_key]

for emp in sorted_employees:
    print(f"{emp.name}: {emp.department}, ${emp.salary}")

Alice: Engineering, $80000
Charlie: Engineering, $90000
Bob: Marketing, $60000
Diana: Marketing, $70000

**Custom Sorting Scenarios**

Sorting with Multiple Criteria and Priorities

In [ ]:
def priority_sort(lst, priority_order):
    """
    Sort list with custom priority order
    Elements not in priority_order go to the end
    """
    def get_priority(x):
        try:
            return priority_order.index(x)
        except ValueError:
            return len(priority_order)

    return sorted(lst, key=get_priority)

fruits = ['banana', 'apple', 'cherry', 'date', 'elderberry', 'fig']
priority_order = ['cherry', 'apple', 'banana']
sorted_fruits = priority_sort(fruits, priority_order)
print(sorted_fruits)
# ['cherry', 'apple', 'banana', 'date', 'elderberry', 'fig']

['cherry', 'apple', 'banana', 'date', 'elderberry', 'fig']

Stable Sort with Custom Order

In [ ]:
def custom_order_sort(lst, custom_order):
    """Sort list based on custom order"""
    order_dict = {item: i for i, item in enumerate(custom_order)}
    return sorted(lst, key=lambda x: order_dict.get(x, len(custom_order)))

colors = ['red', 'blue', 'green', 'yellow', 'red', 'blue', 'green']
color_order = ['red', 'yellow', 'green', 'blue']
sorted_colors = custom_order_sort(colors, color_order)
print(sorted_colors)
# ['red', 'red', 'yellow', 'green', 'green', 'blue', 'blue']

['red', 'red', 'yellow', 'green', 'green', 'blue', 'blue']

**Real-World Sorting Examples**

Sorting File Names with Numbers

In [ ]:
import re

def sort_filenames(filenames):
    """Sort filenames containing numbers naturally"""
    def extract_numbers(text):
        return [int(x) for x in re.findall(r'\d+', text)]

    return sorted(filenames, key=lambda x: (
        [part.lower() for part in re.split(r'(\d+)', x) if part]
    ))

files = [
    'document1.pdf',
    'document10.pdf',
    'document2.pdf',
    'image1.jpg',
    'image10.jpg',
    'image2.jpg'
]

sorted_files = sort_filenames(files)
for file in sorted_files:
    print(file)
# document1.pdf
# document2.pdf
# document10.pdf
# image1.jpg
# image2.jpg
# image10.jpg

document1.pdf
document10.pdf
document2.pdf
image1.jpg
image10.jpg
image2.jpg

Sorting by Multiple Attributes with Different Orders

In [ ]:
from operator import itemgetter

# Sort by multiple attributes with mixed ascending/descending
def multi_key_sort(lst, keys):
    """Sort by multiple keys with specified order"""
    for key, reverse in reversed(keys):
        lst.sort(key=itemgetter(key), reverse=reverse)
    return lst

data = [
    {'name': 'Alice', 'age': 25, 'score': 85},
    {'name': 'Bob', 'age': 22, 'score': 92},
    {'name': 'Charlie', 'age': 25, 'score': 78},
    {'name': 'Diana', 'age': 23, 'score': 95}
]

# Sort by age (ascending), then by score (descending)
sorted_data = multi_key_sort(data, [('age', False), ('score', True)])
for item in sorted_data:
    print(f"{item['name']}: age {item['age']}, score {item['score']}")
# Bob: age 22, score 92
# Diana: age 23, score 95
# Alice: age 25, score 85
# Charlie: age 25, score 78

Bob: age 22, score 92
Diana: age 23, score 95
Alice: age 25, score 85
Charlie: age 25, score 78

**Basic Searching Methods**

1.in Operator - Membership Testing

In [ ]:
# Basic membership test
fruits = ['apple', 'banana', 'cherry', 'date']
print('banana' in fruits)    # True
print('orange' in fruits)    # False
print('banana' not in fruits) # False

# With numbers
numbers = [1, 2, 3, 4, 5]
print(3 in numbers)    # True
print(10 in numbers)   # False

# Performance note: O(n) for lists, O(1) for sets
large_list = list(range(1000000))
large_set = set(large_list)

# %timeit 999999 in large_list  # Slow - O(n)
# %timeit 999999 in large_set   # Fast - O(1)

True
False
False
True
False

2. index() - Find Position

In [ ]:
# Find first occurrence
fruits = ['apple', 'banana', 'cherry', 'banana', 'date']
print(fruits.index('banana'))        # 1
print(fruits.index('cherry'))        # 2

# With start and end parameters
print(fruits.index('banana', 2))     # 3 (start from index 2)
print(fruits.index('banana', 1, 4))  # 1 (between index 1-4)

# Handling not found
try:
    print(fruits.index('orange'))
except ValueError as e:
    print(f"Not found: {e}")  # Not found: 'orange' is not in list

# Safe index function
def safe_index(lst, item, default=-1):
    try:
        return lst.index(item)
    except ValueError:
        return default

print(safe_index(fruits, 'banana'))  # 1
print(safe_index(fruits, 'orange'))  # -1

1
2
3
1
Not found: 'orange' is not in list
1
-1

**Advanced Searching Patterns**

Finding All Occurrences

In [ ]:
def find_all_occurrences(lst, item):
    """Find all indices of an item"""
    return [i for i, x in enumerate(lst) if x == item]

numbers = [1, 2, 3, 2, 4, 2, 5]
print(find_all_occurrences(numbers, 2))  # [1, 3, 5]
print(find_all_occurrences(numbers, 6))  # []

# Using enumerate directly
fruits = ['apple', 'banana', 'cherry', 'banana']
banana_indices = [i for i, fruit in enumerate(fruits) if fruit == 'banana']
print(banana_indices)  # [1, 3]

[1, 3, 5]
[]
[1, 3]

Conditional Searching

In [ ]:
numbers = [10, 25, 30, 45, 50, 65, 70]

# Find first element matching condition
first_even = next((x for x in numbers if x % 2 == 0), None)
print(first_even)  # 10

first_greater_than_40 = next((x for x in numbers if x > 40), None)
print(first_greater_than_40)  # 45

# Find index of first matching element
def find_index_where(lst, condition):
    """Find index of first element satisfying condition"""
    return next((i for i, x in enumerate(lst) if condition(x)), -1)

numbers = [10, 5, -2, 8, -1, 3]
first_negative_idx = find_index_where(numbers, lambda x: x < 0)
print(first_negative_idx)  # 2

first_even_idx = find_index_where(numbers, lambda x: x % 2 == 0)
print(first_even_idx)  # 0

10
45
2
0

Finding Min/Max with Conditions

In [ ]:
numbers = [10, 25, 30, 45, 50, 65, 70]

# Find minimum with condition
min_even = min((x for x in numbers if x % 2 == 0), default=None)
print(min_even)  # 10

# Find maximum with condition
max_less_than_60 = max((x for x in numbers if x < 60), default=None)
print(max_less_than_60)  # 50

# Find string with maximum length
fruits = ['apple', 'banana', 'cherry', 'date']
longest = max(fruits, key=len)
print(longest)  # 'banana'

# Find string with minimum length
shortest = min(fruits, key=len)
print(shortest)  # 'date'

10
50
banana
date

**Binary Search for Sorted Lists**

Basic Binary Search

In [ ]:
def binary_search(lst, target):
    """Binary search on sorted list - returns index or -1"""
    left, right = 0, len(lst) - 1

    while left <= right:
        mid = (left + right) // 2
        if lst[mid] == target:
            return mid
        elif lst[mid] < target:
            left = mid + 1
        else:
            right = mid - 1

    return -1

# Usage with sorted list
sorted_numbers = [1, 3, 5, 7, 9, 11, 13, 15]
print(binary_search(sorted_numbers, 7))   # 3
print(binary_search(sorted_numbers, 8))   # -1
print(binary_search(sorted_numbers, 1))   # 0

3
-1
0

Binary Search with Bisect Module

In [ ]:
import bisect

sorted_numbers = [1, 3, 5, 7, 9, 11, 13, 15]

# bisect_left - returns insertion point
print(bisect.bisect_left(sorted_numbers, 7))   # 3
print(bisect.bisect_left(sorted_numbers, 8))   # 4 (where 8 would be inserted)

# bisect_right - returns insertion point after existing elements
print(bisect.bisect_right(sorted_numbers, 7))  # 4

# Check if element exists
def contains_bisect(lst, target):
    pos = bisect.bisect_left(lst, target)
    return pos < len(lst) and lst[pos] == target

print(contains_bisect(sorted_numbers, 7))  # True
print(contains_bisect(sorted_numbers, 8))  # False

# Find range of values
def find_range(lst, target):
    """Find start and end indices of target value"""
    left = bisect.bisect_left(lst, target)
    right = bisect.bisect_right(lst, target)
    return left, right

numbers_with_dupes = [1, 2, 2, 2, 3, 4, 4, 5]
print(find_range(numbers_with_dupes, 2))  # (1, 4)
print(find_range(numbers_with_dupes, 4))  # (5, 7)

3
4
4
True
False
(1, 4)
(5, 7)

**Advanced Search Patterns**

Searching in Complex Data Structures

In [ ]:
# Searching in list of dictionaries
students = [
    {'name': 'Alice', 'age': 25, 'grade': 88},
    {'name': 'Bob', 'age': 22, 'grade': 92},
    {'name': 'Charlie', 'age': 23, 'grade': 78},
    {'name': 'Diana', 'age': 25, 'grade': 95}
]

# Find student by name
def find_student_by_name(students, name):
    return next((s for s in students if s['name'] == name), None)

print(find_student_by_name(students, 'Alice'))
# {'name': 'Alice', 'age': 25, 'grade': 88}

# Find all students with grade > 90
high_achievers = [s for s in students if s['grade'] > 90]
print(high_achievers)
# [{'name': 'Bob', 'age': 22, 'grade': 92}, {'name': 'Diana', 'age': 25, 'grade': 95}]

# Find student with maximum grade
top_student = max(students, key=lambda x: x['grade'])
print(top_student)  # {'name': 'Diana', 'age': 25, 'grade': 95}

{'name': 'Alice', 'age': 25, 'grade': 88}
[{'name': 'Bob', 'age': 22, 'grade': 92}, {'name': 'Diana', 'age': 25, 'grade': 95}]
{'name': 'Diana', 'age': 25, 'grade': 95}

Searching with Custom Objects

In [ ]:
class Product:
    def __init__(self, name, price, category):
        self.name = name
        self.price = price
        self.category = category

    def __repr__(self):
        return f"Product({self.name}, ${self.price})"

products = [
    Product('Laptop', 1000, 'Electronics'),
    Product('Phone', 500, 'Electronics'),
    Product('Book', 20, 'Education'),
    Product('Tablet', 300, 'Electronics')
]

# Find product by name
def find_product_by_name(products, name):
    return next((p for p in products if p.name == name), None)

print(find_product_by_name(products, 'Phone'))  # Product(Phone, $500)

# Find all electronics products
electronics = [p for p in products if p.category == 'Electronics']
print(electronics)
# [Product(Laptop, $1000), Product(Phone, $500), Product(Tablet, $300)]

# Find most expensive product
most_expensive = max(products, key=lambda p: p.price)
print(most_expensive)  # Product(Laptop, $1000)

Product(Phone, $500)
[Product(Laptop, $1000), Product(Phone, $500), Product(Tablet, $300)]
Product(Laptop, $1000)

**Pattern-Based Searching**

Regular Expression Searching

In [ ]:
import re

# Search strings matching pattern
words = ['apple', 'banana', 'cherry', 'date', 'apricot', 'berry']

# Find words starting with 'a'
a_words = [word for word in words if re.match(r'^a', word)]
print(a_words)  # ['apple', 'apricot']

# Find words containing 'err'
err_words = [word for word in words if re.search(r'err', word)]
print(err_words)  # ['cherry', 'berry']

# Find words with exactly 5 letters
five_letter_words = [word for word in words if re.match(r'^.{5}$', word)]
print(five_letter_words)  # ['apple', 'berry']

['apple', 'apricot']
['cherry', 'berry']
['apple', 'berry']

**Fuzzy Searching**

In [ ]:
from difflib import get_close_matches

def fuzzy_search(lst, target, cutoff=0.6):
    """Find close matches using fuzzy string matching"""
    return get_close_matches(target, lst, n=3, cutoff=cutoff)

fruits = ['apple', 'banana', 'cherry', 'date', 'apricot', 'blueberry']

print(fuzzy_search(fruits, 'appel'))      # ['apple', 'apricot']
print(fuzzy_search(fruits, 'bery'))       # ['cherry', 'blueberry']
print(fuzzy_search(fruits, 'bnana'))      # ['banana']

# With higher cutoff for stricter matching
print(fuzzy_search(fruits, 'appel', 0.8)) # ['apple']

['apple']
['blueberry', 'cherry']
['banana']
['apple']

**Multi-dimensional Searching**

Searching in 2D Lists (Matrices)

In [ ]:
# Searching in 2D lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

def find_in_matrix(mat, target):
    """Find coordinates of target in matrix"""
    for i, row in enumerate(mat):
        for j, element in enumerate(row):
            if element == target:
                return (i, j)
    return None

print(find_in_matrix(matrix, 5))  # (1, 1)
print(find_in_matrix(matrix, 10)) # None

# Find all occurrences in matrix
matrix_with_dupes = [
    [1, 2, 2],
    [2, 3, 4],
    [2, 5, 6]
]

def find_all_in_matrix(mat, target):
    """Find all coordinates of target in matrix"""
    return [(i, j) for i, row in enumerate(mat)
                   for j, element in enumerate(row)
                   if element == target]

print(find_all_in_matrix(matrix_with_dupes, 2))
# [(0, 1), (0, 2), (1, 0), (2, 0)]

(1, 1)
None
[(0, 1), (0, 2), (1, 0), (2, 0)]

Searching in Nested Structures

In [ ]:
def deep_search(nested, target):
    """Search for target in nested list structure"""
    results = []

    def _search(current, path):
        if current == target:
            results.append(path[:])
        if isinstance(current, list):
            for i, item in enumerate(current):
                path.append(i)
                _search(item, path)
                path.pop()

    _search(nested, [])
    return results

nested_structure = [1, [2, 3], [4, [5, 2]], 2]
print(deep_search(nested_structure, 2))
# [[1, 0], [2, 1, 0], [3]]

# Flatten and search
def flatten_and_search(nested, target):
    """Flatten nested structure and search"""
    def flatten(lst):
        result = []
        for item in lst:
            if isinstance(item, list):
                result.extend(flatten(item))
            else:
                result.append(item)
        return result

    flat_list = flatten(nested)
    return [i for i, x in enumerate(flat_list) if x == target]

print(flatten_and_search(nested_structure, 2))
# [1, 5, 7]

[[1, 0], [2, 1, 1], [3]]
[1, 5, 6]

**Performance-Optimized Searching**

Using Sets for Fast Membership Testing

In [ ]:
# Convert to set for O(1) lookups
large_list = list(range(1000000))
large_set = set(large_list)

# Fast membership testing
def fast_contains(lst, target):
    """Fast membership test using set"""
    return target in set(lst)

# Even faster: convert once, use many times
search_set = set(large_list)
print(999999 in search_set)  # True - O(1)
print(-1 in search_set)      # False - O(1)

# For multiple searches, set is much faster
def multiple_searches(lst, targets):
    """Perform multiple membership tests efficiently"""
    search_set = set(lst)
    return {target: target in search_set for target in targets}

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
targets = [3, 5, 11, 15]
results = multiple_searches(numbers, targets)
print(results)  # {3: True, 5: True, 11: False, 15: False}

True
False
{3: True, 5: True, 11: False, 15: False}

Caching Search Results

In [ ]:
from functools import lru_cache

class SearchableList:
    def __init__(self, data):
        self.data = data
        self._index_cache = {}

    @lru_cache(maxsize=128)
    def cached_index(self, item):
        """Cached index search"""
        try:
            return self.data.index(item)
        except ValueError:
            return -1

    def cached_contains(self, item):
        """Cached membership test"""
        return item in self.data  # Python's 'in' is already optimized

# Usage
search_list = SearchableList(['apple', 'banana', 'cherry', 'date'])
print(search_list.cached_index('banana'))  # 1
print(search_list.cached_contains('cherry'))  # True

1
True

Linear Search with Early Exit

In [ ]:
def linear_search_optimized(lst, target):
    """Linear search with early exit optimization"""
    for i, item in enumerate(lst):
        if item == target:
            return i
    return -1

def linear_search_multiple(lst, targets):
    """Find multiple targets in single pass"""
    found = {target: -1 for target in targets}
    remaining = len(targets)

    for i, item in enumerate(lst):
        if item in found and found[item] == -1:
            found[item] = i
            remaining -= 1
            if remaining == 0:
                break

    return found

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
targets = [3, 5, 11]
results = linear_search_multiple(numbers, targets)
print(results)  # {3: 2, 5: 4, 11: -1}

{3: 2, 5: 4, 11: -1}

Jump Search for Sorted Lists

In [ ]:
import math

def jump_search(lst, target):
    """Jump search algorithm for sorted lists"""
    n = len(lst)
    step = int(math.sqrt(n))
    prev = 0

    # Finding the block where element is present
    while lst[min(step, n) - 1] < target:
        prev = step
        step += int(math.sqrt(n))
        if prev >= n:
            return -1

    # Linear search in the block
    while lst[prev] < target:
        prev += 1
        if prev == min(step, n):
            return -1

    # Check if element is found
    if lst[prev] == target:
        return prev

    return -1

sorted_numbers = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
print(jump_search(sorted_numbers, 55))   # 10
print(jump_search(sorted_numbers, 100))  # -1

10
-1

Searching in Log Files

In [ ]:
def search_logs(logs, keyword, case_sensitive=False):
    """Search for keyword in log entries"""
    results = []
    for i, log in enumerate(logs):
        if not case_sensitive:
            log_lower = log.lower()
            keyword_lower = keyword.lower()
            if keyword_lower in log_lower:
                results.append((i, log))
        else:
            if keyword in log:
                results.append((i, log))
    return results

# Example log data
log_entries = [
    "ERROR: Database connection failed",
    "INFO: User login successful",
    "WARNING: High memory usage",
    "ERROR: File not found",
    "INFO: Backup completed"
]

errors = search_logs(log_entries, "ERROR")
for line_num, log in errors:
    print(f"Line {line_num}: {log}")
# Line 0: ERROR: Database connection failed
# Line 3: ERROR: File not found

warnings = search_logs(log_entries, "warning", case_sensitive=False)
for line_num, log in warnings:
    print(f"Line {line_num}: {log}")
# Line 2: WARNING: High memory usage

Line 0: ERROR: Database connection failed
Line 3: ERROR: File not found
Line 2: WARNING: High memory usage

Searching in CSV-like Data

In [ ]:
def search_csv_data(data, column, value):
    """Search for value in specific column of CSV-like data"""
    results = []
    for i, row in enumerate(data):
        if len(row) > column and row[column] == value:
            results.append((i, row))
    return results

# Example CSV-like data
csv_data = [
    ['Alice', '25', 'Engineer'],
    ['Bob', '30', 'Designer'],
    ['Charlie', '25', 'Manager'],
    ['Diana', '28', 'Engineer']
]

# Search for all Engineers
engineers = search_csv_data(csv_data, 2, 'Engineer')
for line_num, row in engineers:
    print(f"Row {line_num}: {row}")
# Row 0: ['Alice', '25', 'Engineer']
# Row 3: ['Diana', '28', 'Engineer']

# Search by age
age_25 = search_csv_data(csv_data, 1, '25')
for line_num, row in age_25:
    print(f"Row {line_num}: {row}")
# Row 0: ['Alice', '25', 'Engineer']
# Row 2: ['Charlie', '25', 'Manager']

Row 0: ['Alice', '25', 'Engineer']
Row 3: ['Diana', '28', 'Engineer']
Row 0: ['Alice', '25', 'Engineer']
Row 2: ['Charlie', '25', 'Manager']