<a href="https://colab.research.google.com/github/1822lokesh/Python-Learning/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is a Tuple?**

A Tuple is a collection of items that is ordered and immutable.

Think of a tuple as a "Read-Only List." Once you create it, you cannot add, remove, or change elements inside it. This makes tuples perfect for storing data that should not be modified, like days of the week or geographic coordinates.

Key Characteristics:

Immutable: You cannot change elements after creation.

Ordered: Items have a defined order (index).

Allow Duplicates: You can have the same item multiple times.

Heterogeneous: Can store different data types (integers, strings, floats) together.

**1. Creating a Tuple**

Tuples are defined using parentheses ().

In [1]:
# Empty tuple
my_tuple = ()

# Integers
numbers = (1, 2, 3)

# Mixed data types
mixed = (1, "Hello", 3.14, True)

# Tuple Packing (Parentheses are optional!)
packed = 1, 2, "Apple"

**The "Modification Hack" (Type Casting)**

A common interview question is: "How do you modify an element in a tuple?" Technically, you can't. But practically, you convert it to a list, change it, and convert it back.

In [2]:
t = ("Apple", "Banana", "Cherry")

# 1. Convert to list
temp_list = list(t)

# 2. Modify the list
temp_list[1] = "Blueberry"

# 3. Convert back to tuple
t = tuple(temp_list)

print(t)
# Output: ('Apple', 'Blueberry', 'Cherry')

('Apple', 'Blueberry', 'Cherry')

The Single Element Trap:

To create a tuple with only one item, you must add a trailing comma. Without it, Python interprets it as a standard number or string.

t = (5) → Type: Integer

t = (5,) → Type: Tuple

1. Accessing Elements

In [3]:
my_tuple = ('a', 'b', 'c', 'd', 'e')

# Indexing
print(my_tuple[0])    # 'a'
print(my_tuple[-1])   # 'e' (last element)

# Slicing
print(my_tuple[1:4])  # ('b', 'c', 'd')
print(my_tuple[:3])   # ('a', 'b', 'c')
print(my_tuple[::2])  # ('a', 'c', 'e')

a
e
('b', 'c', 'd')
('a', 'b', 'c')
('a', 'c', 'e')

2. Concatenation

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2
print(result)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

3. Repetition

In [5]:
tuple1 = ('hi',)
repeated = tuple1 * 3
print(repeated)  # ('hi', 'hi', 'hi')

('hi', 'hi', 'hi')

4. Membership Testing

In [6]:
my_tuple = ('apple', 'banana', 'cherry')

print('apple' in my_tuple)    # True
print('orange' not in my_tuple)  # True

True
True

5. Iteration

In [7]:
fruits = ('apple', 'banana', 'cherry')

# Using for loop
for fruit in fruits:
    print(fruit)

# Using enumerate
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

apple
banana
cherry
0: apple
1: banana
2: cherry

6. Packing and Unpacking

In [8]:
# Tuple packing
person = ('John', 25, 'Engineer')

# Tuple unpacking
name, age, profession = person
print(name)        # John
print(age)         # 25
print(profession)  # Engineer

# Extended unpacking
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers
print(first)   # 1
print(middle)  # [2, 3, 4]
print(last)    # 5

John
25
Engineer
1
[2, 3, 4]
5

**Tuple Methods**

Tuples have only two built-in methods because they are immutable:

count() :
Returns the number of times a specified value appears in the tuple.

In [9]:
my_tuple = (1, 2, 3, 2, 4, 2, 5)

count_2 = my_tuple.count(2)
print(count_2)  # 3

count_7 = my_tuple.count(7)
print(count_7)  # 0

3
0

index(): Returns the index of the first occurrence of a specified value.

In [10]:
my_tuple = ('a', 'b', 'c', 'b', 'd')

# Basic usage
index_b = my_tuple.index('b')
print(index_b)  # 1

# With start and end parameters
index_b_after_2 = my_tuple.index('b', 2)  # Search starting from index 2
print(index_b_after_2)  # 3

# ValueError if element not found
try:
    index_z = my_tuple.index('z')
except ValueError as e:
    print(f"Error: {e}")  # Error: tuple.index(x): x not in tuple

1
3
Error: tuple.index(x): x not in tuple

**Other Useful Tuple Operations**

Length and Type Checking

In [11]:
my_tuple = (1, 2, 3, 4, 5)

print(len(my_tuple))          # 5
print(type(my_tuple))         # <class 'tuple'>

5
<class 'tuple'>

Comparison

In [12]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
tuple3 = (1, 2, 3)

print(tuple1 == tuple3)  # True
print(tuple1 < tuple2)   # True (3 < 4)
print(tuple1 > tuple2)   # False

True
True
False

Conversion

In [13]:
# List to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # (1, 2, 3)

# String to tuple
my_string = "hello"
str_tuple = tuple(my_string)
print(str_tuple)  # ('h', 'e', 'l', 'l', 'o')

# Tuple to list
back_to_list = list(my_tuple)
print(back_to_list)  # [1, 2, 3]

(1, 2, 3)
('h', 'e', 'l', 'l', 'o')
[1, 2, 3]

1. Returning Multiple Values from Functions

In [14]:
def get_user_info():
    name = "Alice"
    age = 30
    city = "New York"
    return name, age, city  # This returns a tuple

user_info = get_user_info()
print(user_info)  # ('Alice', 30, 'New York')

# Unpack directly
name, age, city = get_user_info()
print(f"{name} is {age} years old from {city}")

('Alice', 30, 'New York')
Alice is 30 years old from New York

2. Using as Dictionary Keys

In [15]:
# Tuples can be used as dictionary keys (unlike lists)
coordinates = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles",
    (51.5074, -0.1278): "London"
}

print(coordinates[(40.7128, -74.0060)])  # New York

New York

 3.Nested Tuples and Access

In [16]:
# Nested tuples
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)

print(nested_tuple[1])        # (2, 3)
print(nested_tuple[1][0])     # 2
print(nested_tuple[2][1][0])  # 5

# Matrix representation
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(matrix[1][2])  # 6 (second row, third column)

(2, 3)
2
5
6

4.Tuple Comprehension (Generator Expression)

In [17]:
# Using generator expression (similar to list comprehension but returns generator)
numbers = (1, 2, 3, 4, 5)

# Generator expression
squares_gen = (x**2 for x in numbers)
print(tuple(squares_gen))  # (1, 4, 9, 16, 25)

# Filter with generator expression
even_squares = tuple(x**2 for x in numbers if x % 2 == 0)
print(even_squares)  # (4, 16)

(1, 4, 9, 16, 25)
(4, 16)

5.Sorting and Reversing

In [18]:
# Creating sorted tuple from another tuple
numbers = (3, 1, 4, 1, 5, 9, 2)

sorted_tuple = tuple(sorted(numbers))
print(sorted_tuple)  # (1, 1, 2, 3, 4, 5, 9)

# Sorting with custom key
words = ('banana', 'apple', 'cherry', 'date')
sorted_by_length = tuple(sorted(words, key=len))
print(sorted_by_length)  # ('date', 'apple', 'banana', 'cherry')

# Reversing
reversed_tuple = tuple(reversed(numbers))
print(reversed_tuple)  # (2, 9, 5, 1, 4, 1, 3)

(1, 1, 2, 3, 4, 5, 9)
('date', 'apple', 'banana', 'cherry')
(2, 9, 5, 1, 4, 1, 3)

Zip and Unzip Operations

In [19]:
# Zipping multiple iterables
names = ('Alice', 'Bob', 'Charlie')
ages = (25, 30, 35)
cities = ('NYC', 'London', 'Tokyo')

zipped = tuple(zip(names, ages, cities))
print(zipped)
# (('Alice', 25, 'NYC'), ('Bob', 30, 'London'), ('Charlie', 35, 'Tokyo'))

# Unzipping
unzipped = tuple(zip(*zipped))
print(unzipped)
# (('Alice', 'Bob', 'Charlie'), (25, 30, 35), ('NYC', 'London', 'Tokyo'))

(('Alice', 25, 'NYC'), ('Bob', 30, 'London'), ('Charlie', 35, 'Tokyo'))
(('Alice', 'Bob', 'Charlie'), (25, 30, 35), ('NYC', 'London', 'Tokyo'))

 Advanced Unpacking Techniques

In [20]:
# Ignoring specific elements
data = (1, 2, 3, 4, 5)
first, *_, last = data
print(first)  # 1
print(last)   # 5

# Multiple assignment with nested tuples
nested = (1, (2, 3), 4)
a, (b, c), d = nested
print(a, b, c, d)  # 1 2 3 4

# Swapping variables (classic tuple unpacking)
x, y = 10, 20
x, y = y, x  # Creates a tuple (y, x) and unpacks it
print(x, y)  # 20 10

1
5
1 2 3 4
20 10

Tuple as Function Arguments

In [21]:
def calculate_stats(numbers):
    return min(numbers), max(numbers), sum(numbers)/len(numbers)

data = (10, 20, 30, 40, 50)
stats = calculate_stats(data)
print(stats)  # (10, 50, 30.0)

# Unpacking function arguments
def greet(name, age, city):
    return f"Hello {name}, {age} years old from {city}"

person_data = ('Alice', 25, 'New York')
print(greet(*person_data))  # Unpacks tuple as arguments

(10, 50, 30.0)
Hello Alice, 25 years old from New York

 Filtering and Mapping

In [22]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter even numbers
evens = tuple(filter(lambda x: x % 2 == 0, numbers))
print(evens)  # (2, 4, 6, 8, 10)

# Map operations
doubled = tuple(map(lambda x: x * 2, numbers))
print(doubled)  # (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

# Combined operations
result = tuple(map(lambda x: x**2, filter(lambda x: x > 5, numbers)))
print(result)  # (36, 49, 64, 81, 100)

(2, 4, 6, 8, 10)
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
(36, 49, 64, 81, 100)

Tuple Comparison and Sorting with Multiple Criteria

In [23]:
# Sorting tuples by multiple elements
students = (
    ('Alice', 85, 'Math'),
    ('Bob', 92, 'Science'),
    ('Charlie', 85, 'English'),
    ('Diana', 78, 'Math')
)

# Sort by grade (descending), then by name (ascending)
sorted_students = tuple(sorted(students, key=lambda x: (-x[1], x[0])))
print(sorted_students)
# (('Bob', 92, 'Science'), ('Alice', 85, 'Math'), ('Charlie', 85, 'English'), ('Diana', 78, 'Math'))

(('Bob', 92, 'Science'), ('Alice', 85, 'Math'), ('Charlie', 85, 'English'), ('Diana', 78, 'Math'))

Memory Efficient Operations

In [24]:
import sys

# Memory comparison
list_data = [1, 2, 3, 4, 5]
tuple_data = (1, 2, 3, 4, 5)

print(f"List memory: {sys.getsizeof(list_data)} bytes")
print(f"Tuple memory: {sys.getsizeof(tuple_data)} bytes")

# Creating large sequences
large_tuple = tuple(range(1000000))
large_list = list(range(1000000))

print(f"Large tuple memory: {sys.getsizeof(large_tuple)} bytes")
print(f"Large list memory: {sys.getsizeof(large_list)} bytes")

List memory: 104 bytes
Tuple memory: 80 bytes
Large tuple memory: 8000040 bytes
Large list memory: 8000056 bytes

Advanced Indexing with Slices

In [25]:
data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Step slicing
print(data[::2])    # (0, 2, 4, 6, 8)  - every 2nd element
print(data[1::2])   # (1, 3, 5, 7, 9)  - every 2nd starting from index 1
print(data[::-1])   # (9, 8, 7, 6, 5, 4, 3, 2, 1, 0) - reverse

# Multiple slices
first_half = data[:5]
second_half = data[5:]
print(first_half)   # (0, 1, 2, 3, 4)
print(second_half)  # (5, 6, 7, 8, 9)

(0, 2, 4, 6, 8)
(1, 3, 5, 7, 9)
(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)
(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)

Tuple Concatenation Patterns

In [26]:
# Building tuples incrementally (creating new tuples)
base = (1, 2, 3)
new_tuple = base + (4, 5, 6)
print(new_tuple)  # (1, 2, 3, 4, 5, 6)

# Efficient concatenation using tuple() with iterables
parts = [(1, 2), (3, 4), (5, 6)]
combined = tuple(item for part in parts for item in part)
print(combined)  # (1, 2, 3, 4, 5, 6)

# Using sum() for concatenation (not recommended for large tuples)
result = sum(parts, ())
print(result)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

Tuple with Different Data Types

In [27]:
# Heterogeneous tuples
mixed = ('John', 25, 175.5, True, ['reading', 'swimming'])

# Accessing with type checking
for item in mixed:
    print(f"{item} is of type {type(item).__name__}")

# Tuple of tuples (common in data processing)
data_points = (
    ('2023-01-01', 100, 150),
    ('2023-01-02', 110, 160),
    ('2023-01-03', 105, 155)
)

# Access specific fields
dates = tuple(point[0] for point in data_points)
highs = tuple(point[2] for point in data_points)
print(dates)  # ('2023-01-01', '2023-01-02', '2023-01-03')
print(highs)  # (150, 160, 155)

John is of type str
25 is of type int
175.5 is of type float
True is of type bool
['reading', 'swimming'] is of type list
('2023-01-01', '2023-01-02', '2023-01-03')
(150, 160, 155)

 Performance Comparison

In [28]:
import timeit

# Creation time
list_time = timeit.timeit('x = [1, 2, 3, 4, 5]', number=1000000)
tuple_time = timeit.timeit('x = (1, 2, 3, 4, 5)', number=1000000)

print(f"List creation time: {list_time:.6f} seconds")
print(f"Tuple creation time: {tuple_time:.6f} seconds")

# Access time
access_list = timeit.timeit('x[2]', setup='x = [1, 2, 3, 4, 5]', number=1000000)
access_tuple = timeit.timeit('x[2]', setup='x = (1, 2, 3, 4, 5)', number=1000000)

print(f"List access time: {access_list:.6f} seconds")
print(f"Tuple access time: {access_tuple:.6f} seconds")

List creation time: 0.149775 seconds
Tuple creation time: 0.026102 seconds
List access time: 0.045727 seconds
Tuple access time: 0.041430 seconds

Tuple in Data Structures

In [29]:
# Using tuples in sets (must be hashable)
unique_points = {
    (1, 2),
    (3, 4),
    (1, 2),  # Duplicate, will be ignored
    (5, 6)
}
print(unique_points)  # {(1, 2), (3, 4), (5, 6)}

# Complex dictionary with tuple keys
student_grades = {
    ('Alice', 'Math'): 85,
    ('Alice', 'Science'): 92,
    ('Bob', 'Math'): 78,
    ('Bob', 'Science'): 88
}

# Accessing nested data
print(student_grades[('Alice', 'Math')])  # 85

# Getting all subjects for a student
alice_grades = {subject: grade for (name, subject), grade in student_grades.items() if name == 'Alice'}
print(alice_grades)  # {'Math': 85, 'Science': 92}

{(1, 2), (3, 4), (5, 6)}
85
{'Math': 85, 'Science': 92}

**Q1: The Single Element Trap**

Interviewer: "I wrote t = (1) to create a tuple, but my code is failing. Why?" Answer: Python interprets (1) as the integer 1 inside parentheses (like in math). To create a single-element tuple, you must add a trailing comma.

In [30]:
t1 = (1)   # Type: int
t2 = (1,)  # Type: tuple

**Q2: The "Immutable"**

Interviewer: "Tuples are immutable. Does this code raise an error?"

In [31]:
my_tuple = (1, 2, [10, 20])
my_tuple[2].append(30)
print(my_tuple)

(1, 2, [10, 20, 30])

Answer: No, it does not raise an error.

Why? Tuples are "shallowly immutable." You cannot change which objects are stored in the tuple (you can't replace the list with a new list), but if one of those objects is mutable (like the list at index 2), you can modify that object itself.

Output: (1, 2, [10, 20, 30])

**Q3: Memory Optimization**

Interviewer: "If I create a list and a tuple with the exact same elements, which one is smaller in memory size and why?" Answer: The Tuple is smaller.

Reasoning: Lists are dynamic arrays; they allocate extra memory ("over-allocation") to allow for future .append() operations without resizing constantly. Tuples are fixed, so Python allocates exactly the memory needed.

In [32]:
import sys
print(sys.getsizeof([1, 2, 3]))  # ~120 bytes (List)
print(sys.getsizeof((1, 2, 3)))  # ~72 bytes  (Tuple)

88
64

**Q4: The Sparse Matrix Problem**

Scenario: "You need to represent a massive 10,000 x 10,000 grid where most values are zero, but a few spots have data. Storing this as a standard list of lists grid[row][col] will crash our memory. How do you solve this using tuples?"

Solution (The Tuple-Key Dictionary): Use a Dictionary where the keys are Tuples representing coordinates (row, col).

In [33]:
# Efficiently store only the non-zero values
matrix = {
    (0, 0): 5,
    (10, 5): 100,
    (99, 99): 25
}

# Accessing data
# .get() returns 0 if the coordinate isn't in the dict
print(matrix.get((10, 5), 0))  # Output: 100
print(matrix.get((1, 2), 0))   # Output: 0 (Sparse area)

100
0

**Q5: Sorting by Specific Elements**

Challenge: "Given a list of tuples representing products (Name, Price, Stock), write code to sort them by Price (Low to High), and then by Stock (High to Low)."

Solution: Use the key argument with a lambda function.

In [34]:
products = [
    ("Laptop", 1000, 5),
    ("Mouse", 20, 50),
    ("Monitor", 1000, 2)
]

# Sort by Price (index 1), then Stock (index 2)
sorted_products = sorted(products, key=lambda x: x[1])
print(sorted_products)
# Output: Mouse, then Laptop/Monitor (tie)

# Advanced: Sort by Price ASC, then Stock DESC (use negative for numbers)
sorted_advanced = sorted(products, key=lambda x: (x[1], -x[2]))

[('Mouse', 20, 50), ('Laptop', 1000, 5), ('Monitor', 1000, 2)]

**Q6: Tuple Unpacking with * (Star Operator)**

Challenge: "I have a tuple data = (100, 200, 300, 400, 500). I want to assign the first value to start, the last value to end, and everything in the middle to a list called middle. Do this in one line."

Solution:

In [35]:
data = (100, 200, 300, 400, 500)

start, *middle, end = data

print(start)   # 100
print(middle)  # [200, 300, 400] (Note: This becomes a list)
print(end)     # 500

100
[200, 300, 400]
500

**Q7: Named Tuples**

Interviewer: "Our code uses tuples like user[0] and user[1] everywhere. It's hard to read because we don't know what index 0 means. We don't want the overhead of a full Class. What do you suggest?"

Answer: Use namedtuple from the collections module. It keeps the memory efficiency of a tuple but adds readable names.

In [36]:
from collections import namedtuple

# Define the structure
User = namedtuple('User', ['name', 'role', 'id'])

# Create instances
u1 = User("Alice", "Admin", 101)

# Readability Upgrade
print(u1.role) # Output: "Admin" (Much better than u1[1])

Admin

**Q8: Hashing & Dictionary Keys**

Interviewer: "Why exactly can a Tuple be a dictionary key, but a List cannot?" Answer: Dictionary keys must be Hashable.

To be hashable, an object's contents must not change during its lifetime.

Since Lists are mutable, their hash value would change if you added an item, which would break the dictionary's internal lookup map.

Tuples are immutable, so their hash value is constant, making them safe to use as keys.

Basic Append (Add to End)

In [37]:
# Original tuple
original = (1, 2, 3)

# "Append" by creating new tuple
new_tuple = original + (4,)  # Note: comma for single element
print(new_tuple)  # (1, 2, 3, 4)

# Append multiple elements
new_tuple2 = original + (4, 5, 6)
print(new_tuple2)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

Insert at Beginning

In [38]:
original = (1, 2, 3)

# Insert at beginning
new_tuple = (0,) + original
print(new_tuple)  # (0, 1, 2, 3)

(0, 1, 2, 3)

Insert at Specific Position

In [39]:
original = (1, 2, 4, 5)

# Insert 3 at position 2 (between 2 and 4)
new_tuple = original[:2] + (3,) + original[2:]
print(new_tuple)  # (1, 2, 3, 4, 5)

# More complex insertion
def insert_to_tuple(tup, position, element):
    return tup[:position] + (element,) + tup[position:]

original = ('a', 'b', 'd', 'e')
result = insert_to_tuple(original, 2, 'c')
print(result)  # ('a', 'b', 'c', 'd', 'e')

(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd', 'e')

Convert to List, Modify, Convert Back

In [40]:
def append_to_tuple(tup, element):
    temp_list = list(tup)
    temp_list.append(element)
    return tuple(temp_list)

original = (1, 2, 3)
new_tuple = append_to_tuple(original, 4)
print(new_tuple)  # (1, 2, 3, 4)

(1, 2, 3, 4)

Insert Operation

In [41]:
def insert_to_tuple(tup, position, element):
    temp_list = list(tup)
    temp_list.insert(position, element)
    return tuple(temp_list)

original = ('a', 'b', 'd')
new_tuple = insert_to_tuple(original, 2, 'c')
print(new_tuple)  # ('a', 'b', 'c', 'd')

('a', 'b', 'c', 'd')

Multiple Operations

In [42]:
def modify_tuple(tup, operations):
    """
    operations: list of ('append', element) or ('insert', position, element)
    """
    temp_list = list(tup)

    for op in operations:
        if op[0] == 'append':
            temp_list.append(op[1])
        elif op[0] == 'insert':
            temp_list.insert(op[1], op[2])

    return tuple(temp_list)

original = (1, 2, 3)
operations = [
    ('append', 4),
    ('insert', 1, 1.5),
    ('append', 5)
]

new_tuple = modify_tuple(original, operations)
print(new_tuple)  # (1, 1.5, 2, 3, 4, 5)

(1, 1.5, 2, 3, 4, 5)